
<% if params[:eventId].present? %>

  <table> 
    <tr>
      <thead> 
        <th> rank</th>
        <th> pilote</th>
        <th> points</th>
        <th> delta pts</th>
        <th> delta pos</th>
      </thead>

      <tbody> 
       
      </tbody>
    </tr>
  </table>



   <% ordered_points_by_pilote.each do |pilote, data| %>
 
    <div class="cadre-record">
      <div class="row col-data col-centered m-0 p-0">
        <div class="col-1 col-position">
          <%= data[:index] %>
        </div>
        <div class="col-8 ps-4">
          <%= data[:nom]  %>
        </div>
        <div class="col-1 col-score">
          <%= data[:score] %>
        </div>
        <div class="col-1 text-warning">
          <%= data[:delta_score] %>
        </div>

        <div class="col-1">
          <%= render "delta", pilote: pilote %>
        </div>

      </div>
    </div>
  <% end %>
<% end %>


<hr>
