<h1>Classement pilotes</h1>

<%= render "choix_event/choix_ligue" %>
<%= render "choix_event/choix_saison" %>
<%= render "choix_event/choix_division" %>
<%= render "choix_event/choix_event" %>
<%= render "choix_event/eventactif" %>
