<div class="card record-with-effect m-0 my-1 p-2">  

  <%= form_with(model: presence) do |form| %>
    <% if presence.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(presence.errors.count, "error") %> prohibited this presence from being saved:</h2>

        <ul>
          <% presence.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :event_id, value: session[:event] %>

    <%= form.hidden_field :association_user_id, value: association_user_from_user(current_user.id, session[:division]).id %>

    <div class="form-check form-switch">
      <%= form.label :status, class: "form-check-label" %>
      <%= form.check_box :status, class: "form-check-input" %>
    </div>

    <%= custom_submit_button("Présence") %>

  <% end %> 

</div>