
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<%= stylesheet_link_tag "document" %>

<div id="captureContainer" class="doc-background my-2" style="width: 600px; margin: 0 auto;">
 
  <body>

    <%= render partial: "documents/entete",  locals: { titre: "Class. Pilotes" } %>

    <%#= tableau data class pilotes %>
        
    <table style="margin-left:auto;margin-right:auto">
      <tbody>
        <% somme_user(@event).each do |user| %>
          <% nom = User.find(user[:user_id]).nom %>
          <% equipe = AssociationUser.find(user[:association_user_id]).equipe %>

          <tr>
            <td>
              <div class="col_pos_new rounded d-flex align-items-center justify-content-center">
                <%= user[:rank] %>
              </div>
            </td>

            <td>  
              <div class="contenant img-banniere-doc">
                 <%= equipe_banner_with_pilote_document(equipe, nom)%> 
              </div>
            </td> 
            <td>
              <div class="col_pos_new rounded d-flex align-items-center justify-content-center">
                <%= user[:score] %> 
              </div>
            </td>
            <td style= "width: 28px; margin-top: 4px;">

            </td>
          </tr>
        <% end %> 
      </tbody>  
    </table>

  </body>

  <br><br>

</div>

<hr>

<div class="d-flex">

  <%= back_button_on_event(@event.id) %>

  <button class="fa fa-solid fa-image btn btn-primary m-1" data-controller="screenshot" 
          data-nom-doc="<%= @event.nom_doc("class_pilotes") %>" 
          data-action="click->screenshot#capture">
  </button>
</div>