<% if current_user %>
  
  <div class="card record-with-effect m-0 my-1 p-2">  

    <%= form_with(model: pari) do |form| %>
      <% if pari.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(pari.errors.count, "error") %> prohibited this pari from being saved:</h2>

          <ul>
            <% pari.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%# maj form a la saisie pour recup data avant validation pour ouvrir montant %>

      <div data-controller="form-pari">

        <%= form.button "Validate", formaction:  new_pari_path, formmethod: :get, 
              data: { turbo_frame: :contents_field, form_pari_target: "submitbtn"} %>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Pilote</th>
              <th scope="col">Victoire</th>
              <th scope="col">Pole</th>
              <th scope="col">Podium</th>
              <th scope="col">Top10</th>
            </tr>
          </thead>

          <tbody>
            <% cotes_pilotes(Event.find(session[:event])).each do |user_id, values| %>
              <tr>
                <th scope="row"><%= User.find(values[:user_id]).nom %> </th>
                <td>
                  <%# victoire %>
                  <%= form.button values[:victoire], 
                      name: "pari[option]", 
                      value: values[:victoire], 
                      type: "button", 
                    data: { action: "click->form-pari#setField", 
                    coureur: user_id, coureur_nom: User.find(user_id).nom, typepari: "victoire", cote: values[:victoire] },
                    class: "btn btn-warning" %>
                </td>

                <%# pole %>
                <td>
                  <%= form.button values[:pole], 
                      name: "pari[option]", 
                      value: values[:pole], 
                      type: "button", 
                    data: { action: "click->form-pari#setField", 
                      coureur: user_id, coureur_nom: User.find(user_id).nom, typepari: "pole", cote: values[:pole] },
                    class: "btn btn-warning" %>
                </td>

                <%# podium %>
                <td>
                  <%= form.button values[:podium], 
                      name: "pari[option]", 
                      value: values[:podium], 
                      type: "button", 
                    data: { action: "click->form-pari#setField", 
                      coureur: user_id, coureur_nom: User.find(user_id).nom, typepari: "podium", cote: values[:podium] },
                    class: "btn btn-warning" %>
                </td>

                <%# top10 %>
                <td>
                  <%= form.button values[:top10], 
                      name: "pari[option]", 
                      value: values[:top10], 
                      type: "button", 
                    data: { action: "click->form-pari#setField", 
                    coureur: user_id, coureur_nom: User.find(user_id).nom, typepari: "top10", cote: values[:top10] },
                    class: "btn btn-warning" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <div id="div-montant"  style="display: none;">

          <%= form.hidden_field :association_user_id, data: { form_pari_target: "coureur" } %>
          <%= form.hidden_field :typepari, data: { form_pari_target: "typepari" } %>
          <%= form.hidden_field :cote, data: { form_pari_target: "cote" } %>
          <%= form.hidden_field :user_id, value: current_user.id, data: { form_pari_target: "parieur" } %>
          <%= form.hidden_field :event_id, value: session[:event] %>


          <div class="badge bg-dark">
            solde avant <%= somme_paris_user(Time.now.year, User.all)[current_user.id][:sum] %>
          </div>

          <div class="input-group input-group-sm my-1">
              <%= form.label :montant, class: "input-group-text" %>
              <%= form.text_field :montant, 
                data: { action: "change->form-pari#update_values", form_pari_target: "montant" }, class: "form-control" %>
          </div>

          <div data-form-pari-target="output"></div>
  
          <%= custom_submit_button("Pari") %>


        </div>

      </div>

    <% end %>

  </div>

<% end %>