
<div id="<%= dom_id pari %>">

  <div class="card my-1 p-2">  

    <div class="row align-items-center">
      <div class="col-12">
        #: <%= pari %>
        parieur: <strong>  <%= pari.user.nom %> </strong>
        pilote: <strong> <%= pari.association_user.user.nom %> </strong>
        montant: <%= number_with_delimiter(pari.montant.to_i, delimiter: ' ', precision: 0)  %> 
        type: <%= pari.typepari %>
        cote: <%= pari.cote %>
        <%= boolean_icon(pari.resultat) %>
        <%= boolean_badge(pari.solde) %>
        resultat: <%= pari.resultat %>
      </div>

    </div>


  </div>
</div>
