<% title "Landing Page" %>
<% description "Landing Page with features and tools to manage simracing leagues." %>

<div class="video-container position-relative">
  <div data-controller="video">
    <video autoplay loop muted playsinline
      src="https://res.cloudinary.com/dukne3lhz/video/upload/v1699568038/pexels-cottonbro-5767772_540p_aoeybg.webm?quality=auto" 
      type="video/mp4" id="video-background" data-video-target="video">
    </video>
  </div>

  <div class="text-container position-absolute bottom-0 w-100 px-4 mb-4">
    <h1 class="title-styled mb-4 text-start text-light">
      Gérez votre ligue de SimRacing sur RaceMeIfYoucan
    </h1>

    <div class="container" style="max-width: 800px;">
      <%= link_to home_index_path, class:"btn w-100 btn-dark fw-bold mt-2 mb-3 px-5" do %>
        <i class="me-2 fa fa-solid fa-lg fa-home" aria-hidden="true"></i>
        Home
      <% end %>

      <% unless current_user %>
        <%= link_to new_user_session_path, class:"btn w-100 btn-warning fw-bold mt-2 mb-1 px-5", 
            title: "Sign In", 'aria-label' => "Sign In" do %>
          <i class="me-2 fa fa-solid fa-lg fa-user-lock" aria-hidden="true"></i>
          Sign in
        <% end %>
        
        <%= link_to steps_compte_step1_path, class:"btn w-100 btn-primary fw-bold mt-1 mb-5 px-5",
          title: "Create Account", 'aria-label' => "Create an Account" do %>
          <i class="me-2 fa fa-solid fa-lg fa-user-plus" aria-hidden="true"></i>
          Create account
        <% end %>
      <% end %>

    </div>

  </div>
</div>

<div class="container-fluid p-3">

  <p class="text-center">
      Bienvenue sur RaceMeIfYouCan, la plateforme ultime pour les passionnés de SimRacing qui souhaitent créer et gérer leur propre ligue avec simplicité et efficacité.
  </p>
  <h2 class="fw-bold text-center my-4">
    Pourquoi utiliser RaceMeIfYouCan ?
  </h2>

  <div class="my-5"> 
    <%= render  "slideshow" %>
  </div>

  <div class="container my-5"> 
    <%= render  "rejoindre" %>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
      <%=  cl_image_tag("https://res.cloudinary.com/dukne3lhz/image/upload/v1699569772/pexels-ruiyang-zhang-3717291-_1__zibvab.webp",             
            class:"d-block img-fluid",
            alt: "Créer ligue league simracing sim race") %>

        <div class="card-body">
          <h3 class="card-title">Créez votre ligue en quelques clics</h3>
          <p class="card-text text-helvetica"> Notre application intuitive vous permet de créer votre ligue de SimRacing en quelques minutes. Créer votre calendrier, ajoutez vos courses vos participants et définissez vos propres règles en un rien de temps.</p>
          <div class="card-footer"> 
            <a class="btn btn-primary w-100" data-bs-toggle="collapse" href="#collapseLigue" role="button" aria-expanded="false" aria-controls="collapseLigue">
              détails
            </a>  
            <div class="collapse" id="collapseLigue">
              <div class="card card-body text-center text-primary">
                <p>Créé ta ligue en un clic</p>
                <p>Ajoute les saisons et divisions associées</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">

        <%=  cl_image_tag("https://res.cloudinary.com/dukne3lhz/image/upload/v1699569865/pexels-chris-peeters-12789-_1__rlygyp.webp", 
          class:"d-block img-fluid",
          alt: "Gérer controler manager ligue league simracing sim race") %>

        <div class="card-body">
          <h3 class="card-title"> Garder le contrôle total</h3>
          <p class="card-text text-helvetica">  
            Avec RaceMeIfYouCan, vous avez un total contrôle sur la gestion de votre ligue. Définissez et personnalisez les règles, les horaires et dates de vos courses afin qu’elles correspondent parfaitement à vos besoins.
          </p>

          <div class="card-footer"> 
            <a class="btn btn-primary w-100" data-bs-toggle="collapse" href="#collapseControle" role="button" aria-expanded="false" aria-controls="collapseControle">
              détails
            </a>  
            <div class="collapse" id="collapseControle">
              <div class="card card-body text-center text-primary">
                <p>Définis et gère le règlement de course </p>
                <p>Donne un rôle d'admin aux managers</p>
                <p>Programme le planning de courses </p>
                <p>Définis les participants</p>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">

        <%= cl_image_tag("https://res.cloudinary.com/dukne3lhz/image/upload/v1699569372/pexels-chris-peeters-12801-_1__igyv5f.webp", 
          class:"d-block img-fluid",
          alt: "Gérer optimiser automatiser manager ligue league simracing sim race") %>

        <div class="card-body">
          <h3 class="card-title"> Une gestion automatisée</h3>
          <p class="card-text  text-helvetica">
            Avec RaceMeIfYouCan, saisissez les résultats de vos courses et laissez l’application faire le reste. 
            Gestion des points, des classements, des inscriptions et d’autres fonctionnalités vous attendent afin de vous permettre de vous concentrer sur l’essentiel : la compétition.
          </p>

          <div class="card-footer"> 
            <a class="btn btn-primary w-100" data-bs-toggle="collapse" href="#collapseAutomatise" role="button" aria-expanded="false" aria-controls="collapseAutomatise">
              détails
            </a>  
            <div class="collapse" id="collapseAutomatise">
              <div class="card card-body text-center text-primary">
                <p>Gère les présences</p>
                <p>Saisis les résultats </p>
                <p>Obtiens les documents mis en forme avec le logo de ta ligue</p>
                <p>Résultats, classements pilotes et constructeurs, licences </p>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">

        <%= cl_image_tag("https://res.cloudinary.com/dukne3lhz/image/upload/v1699570754/pexels-quentin-tricoire-2712852-_1__nzyt25.webp", 
          class:"d-block img-fluid",
          alt: "souder communauté interaction augmenter interet traffic ligue league simracing sim race") %>

        <div class="card-body">
          <h3 class="card-title"> Souder la communauté</h3>
          <p class="card-text text-helvetica">
            Favorisez l’interaction entre les membres de votre de ligue avec un espace de discussion dédié, pariez sur les courses de votre championnat ou sur celui des autres ligues présentes sur l’application ou votez pour votre pilote du jour !
          </p>

          <div class="card-footer"> 
            <a class="btn btn-primary w-100" data-bs-toggle="collapse" href="#collapseCommunaute" role="button" aria-expanded="false" aria-controls="collapseCommunaute">
              détails
            </a>  
            <div class="collapse" id="collapseCommunaute">
              <div class="card card-body text-center text-primary">
                <p>Réunis ta communauté</p>
                <p>Fais la interagir sur les courses avec les votes pour le pilote du jour</p>
                <p>Rends la course palpitante pour tous avec les paris ouverts à tous</p>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">

        <%= cl_image_tag("https://res.cloudinary.com/dukne3lhz/image/upload/v1699570117/pexels-tima-miroshnichenko-7567440-_1__dcadau.webp", 
            class:"d-block img-fluid",
            alt: "Suivez évolution statistiques participations ligue league simracing sim race") %>

        <div class="card-body">
          <h3 class="card-title">   Suivez les statistiques en direct</h3>
          <p class="card-text text-helvetica">
            Accéder à des analyses et des statistiques détaillées pour chaque course et chaque pilote. 
            Identifiez les tendances et prenez des décisions en temps réel pour améliorer votre ligue.
          </p>

          <div class="card-footer"> 
            <a class="btn btn-primary w-100" data-bs-toggle="collapse" href="#collapseStats" role="button" aria-expanded="false" aria-controls="collapseStats">
              détails
            </a>  
            <div class="collapse" id="collapseStats">
              <div class="card card-body text-center text-primary">
                <p>Retrouve toutes les infos sur les courses passées et à venir</p>
                <p>Consulte les données météo et map en direct sur tous les circuits</p>
                <p>Découvre les statistiques de chaque pilote</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">

        <%=  cl_image_tag("https://res.cloudinary.com/dukne3lhz/image/upload/v1699570262/pexels-pixabay-209207-_1__pjkg4p.webp", 
          class:"d-block img-fluid",
          alt: "Outil gratuit manage league racing manager ligue league simracing sim race") %>

        <div class="card-body">
          <h3 class="card-title"> Un outil gratuit pour les passionnés</h3>
          <p class="card-text text-helvetica">
            Accèdez à un outil gratuit pour la ligue et ses membres pour faciliter votre vie de SimRacer !
            Si les features existantes te plaisent, tu aimeras encore davantage celles à venir !
          </p>

          <div class="card-footer"> 
            <a class="btn btn-primary w-100" data-bs-toggle="collapse" href="#collapseGratuit" role="button" aria-expanded="false" aria-controls="collapseGratuit">
              détails
            </a>  
            <div class="collapse" id="collapseGratuit">
              <div class="card card-body text-center text-primary">
                <p>Inscription des ligues et membres gratuites </p>
                <p>Supprime les contraintes liées à la gestion de ligue</p>
                <p>Rejoins une communauté de passionés</p>
                <p>Sois le premier à découvrir les features à venir : application mobile, setup-tool pour aider la prépation du setup de la voiture</p>
                <p>Et bien plus encore !</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container-fluid my-4">

    <div class="container text-center mb-3">
      <%= image_tag("svgs/racecar2.svg?#{Time.now.to_i}", 
        width: 250, height: 250, alt: "Animated GIF", 
        class: "reanimate-svg" ) %>
    </div>

    <%= render  "rejoindre" %>

    <p class="text-center text-helvetica">
        Rejoignez des milliers d’autres passionnés de SimRacing et créez et gérez votre propre ligue de manière efficace, amusante et ludique sur RaceMeIfYouCan !
        Inscrivez vous dès maintenant et faites de votre ligue une expérience inouliable.
    </p>

  </div>

  <div class="container text-center">
    <%= image_tag("svgs/starman.svg?#{Time.now.to_i}", 
      width: 250, height: 250, alt: "Animated SVG", 
      class: "reanimate-svg" ) %>
  </div>

</div>

<footer>
  <small>
    <p style="font-style: italic;">
      Icons by
      <a href="https://storyset.com/people">Animated illustrations by Storyset</a>
    </p>
  </small>   
</footer>

<script>
  // Function to reanimate the SVG
  function reanimateSvg() {
    const svgElements = document.getElementsByClassName("reanimate-svg");

    // Loop through all elements with the "reanimate-svg" class
    for (let i = 0; i < svgElements.length; i++) {
      const svgElement = svgElements[i];
      const imageUrl = svgElement.getAttribute("src");

      // Add a random query parameter to the URL to force reload
      const newImageUrl = `${imageUrl.split("?")[0]}?t=${new Date().getTime()}`;
      svgElement.setAttribute("src", newImageUrl);
    }
  }

  // Call reanimateSvg every 5 seconds (5000 milliseconds)
  setInterval(reanimateSvg, 4000);
</script>