
<div id="<%= dom_id equipe %>">

  <div class="card record-with-effect m-0 my-2">  

    <div class="row">
      <div class="container text-center p-2">
        <h4> <%= equipe.nom %> </h4>  

        <%= image_tag(equipe.voiture, class: "img-fit rounded w-25", loading: "lazy") if equipe.voiture.present? %>
        <%= image_tag(equipe.banniere, class: "img-fit rounded w-25", loading: "lazy") if equipe.banniere.present? %>

        Couleurs:  <%= equipe.couleurs %>
      </div>
    </div>    

        <% if current_user && current_user.admin %>

          <%= button_to "", edit_equipe_path(equipe), method: :post, 
                class: "btn btn-sm btn-secondary fa-solid fa-pen-to-square m-1" %>
          <%= button_to "", equipe, method: :delete, 
                class: "btn btn-sm btn-danger fa-solid fa-trash",
                data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
          
        <% end %>
  </div>
</div>
