<div data-controller="scroll" data-action="click->scroll#scroll" data-scroll-target="target-scroll-id">

  <div class="d-flex align-items-center justify-content-center card-with-effect card-text-topic">
  Retrouve ici le classement pilotes !
  </div>

  <h4 class="titre-topic">classement pilotes 
    <%= link_to "", animation_class_pilotes_path(event: @event.id), class: 'btn fa fa-bounce fa-film btn-primary mx-2' %>
  </h4>

  <% somme_user(@event).each do |user_id, user_data| %>
    <div class="d-flex align-items-center justify-content-center my-1">
      <%= badge_score_position(user_id[:rank]) %>
      <%= equipe_banner_with_data(
          AssociationUser.where(
            user_id: user_id[:user_id], 
            division_id: @event.division_id,
            actif: true,
            valide: true,
            )
            .last.equipe,
          User.find(user_id[:user_id]).nom) %>
      <%= badge_score_position(user_id[:score]) %>

      <% comparison = compare_ranks(@previous_event, @event)[user_id[:user_id]] if @previous_event %>
      <%= badge_delta_rank(comparison[:delta_rank].to_i) if comparison %>

    </div>
  <% end %>

  <div class="container my-2">
    <%= link_to "", generate_image_class_pilotes_path(event: @event.id), class: 'btn btn-success fa fa-image' %>
    <%= link_to "", animation_class_pilotes_path(event: @event.id), class: 'btn fa fa-film btn-primary' %>
  </div>

</div>