<h4 class="titre-topic">classement pilotes </h4>

<% somme_user(@event).each do |user| %>
  <div class="d-flex align-items-center justify-content-center my-1">

    <%= badge_score_position(user[:rank]) %> 

    <%= equipe_banner_with_data(
        AssociationUser.find(user[:association_user_id]).equipe,
        User.find(user[:user_id]).nom) %> 

    <div class="d-flex align-items-center justify-content-center">
      <%= badge_score_position(user[:score]) %> 
    </div>

    <div>
      <% comparison_data = compare_ranks(@previous_event, @event) %>
        <% if comparison_data %>
          <% comparison = comparison_data[user[:user_id]] %>
          <% if comparison %>
            <div class="col-1 m-0 p-0 badge-pos rounded d-flex align-items-center justify-content-center record-max-height">
              Delta rank: <%= comparison[:delta_rank] %>
            </div>
          <% end %>
        <% end %> 
    </div>
  </div>
<% end %>

<div class="container">
  <%= link_to "", generate_image_class_pilotes_path(event: @event.id), class: 'btn btn-success fa fa-image' %>
  <%#= link_to "Animation", animation_path(event: @event.id), class: 'btn btn-primary' %>
</div>