<h4 class="titre-topic">classement equipes </h4>

<% somme_equipe(@event).each do |equipe| %>
  <div class="d-flex align-items-center justify-content-center my-1">

    <%= badge_score_position(equipe[:rank]) %> 

    <%= equipe_banner_with_data(
          Equipe.find(equipe[:equipe_id]), 
          Equipe.find(equipe[:equipe_id]).nom) %> 

    <div class="d-flex align-items-center justify-content-center">
      <%= badge_score_position(equipe[:score_sum]) %> 
    </div>

    <div>
      <% comparison_data = compare_equipe_ranks(@previous_event, @event) %>
      <% if comparison_data %>
        <% comparison = comparison_data[equipe[:nom]] %>
        <% if comparison %>
          Delta rank: <%= comparison[:delta_rank] %>
        <% end %>
      <% end %>
    </div>

  </div>

<% end %>

<div class="container">
  <%= link_to "", generate_image_class_equipes_path(event: @event.id), 
        class: 'btn btn-success fa fa-image' %>
  <%#= link_to "Animation", animation_path(event: @event.id), class: 'btn btn-primary' %>
</div>