<h4>Duplication events</h4>

<% if @division.events.present? %>
    <div class="container-fluid text-danger">
        duplication impossible - events existants
    </div>
  
<% else %>

    <%= form_tag duplication_event_path  do %>

        <div class="row g-2">
            <div class="col-md">
                <div class="input-group input-group-sm my-1">
                    <%= label_tag :source_division, "Source Division:", class: "input-group-text" %>
                    <%= select_tag :source_division, options_for_select([["Select a Source Division", nil]] + @divisions.pluck(:nom, :id)), 
                        class: "form-select" %>
                </div>
            </div>
            <div class="col-md">
                <div class="input-group input-group-sm my-1">
                    <%= label_tag :date_difference, "Date Difference (jours):", class: "input-group-text" %>
                    <%= number_field_tag :date_difference, 1, class: "form-select" %>
                </div>
            </div>
        </div>

        <%= submit_tag "Dupliquer Events", class: "btn btn-sm btn-success" %>
    <% end %>

<% end %>
