<div class="card-with-effect m-0">

  <h4 class="d-inline mx-1"> Events </h4>

  <% if current_user && verif_admin_ligue(current_user, session[:ligue])  %>
    <%= link_to "#", class: "btn btn-sm btn-warning m-2", "data-bs-toggle": "collapse", "data-bs-target": "#collapseEvent", "aria-expanded": "false" do %>
      <i class="fa-solid fa-square-plus fa-xl"></i>
    <% end %>
  <% end %>

  <div class="d-inline flex-wrap justify-content-center align-items-center">
    <% @events.each do |event| %>
      <%= link_to url_for(ligue: @ligue.id, saison: @saison.id, division: @division.id, event: event), 
            class: "btn btn-outline-primary btn-sm btn-event me-1 mb-1 p-1
            #{'fw-bold text-light btn-primary' if params[:event] == event.id.to_s}" do %>

        <%= image_tag(event.circuit.drapeau, class: "img-fluid rounded me-1", width: "25", height: "15") if event.circuit.drapeau.present? %>
        <%= "n° #{event.numero}" %>
      <% end %>
    <% end %>
  </div>

  <div class="collapse" id="collapseEvent">
    <div id="new_event">
      <%= render partial: "events/form", locals: { event: Event.new } %>
    </div>
  </div>


  <% if @event && @division %>

    <%# détail event courante %>
    <%= render @event %>


    <div class="card-event-topics">
      <div class="d-flex flex-wrap justify-content-center align-items-center py-4">
        
        <%= button_to display_resultats_menu_index_path, class: "btn btn-sm m-1 btn-topic", 
            data: { controller: "button-color", action: "click->button-color#handleClick" },
            id: "scrollButton" do %>
            <i class="fa fa-solid fa-xl fa-square-poll-horizontal text-secondary"></i>
            <span class="ms-1 fw-bold">Résultats</span>
        <% end %>

        <%= button_to display_presences_menu_index_path, class: "btn btn-sm m-1 btn-topic",
            data: { controller: "button-color", action: "click->button-color#handleClick" } do %>
            <i class="fa fa-solid fa-xl fa-street-view text-success"></i>
            <span class="ms-1 fw-bold">Présences</span>
        <% end %>


        <%= button_to display_dotds_menu_index_path, class: "btn btn-sm m-1 btn-topic", 
            data: { controller: "button-color", action: "click->button-color#handleClick" } do %>
          <i class="fa fa-solid fa-xl fa-star text-warning"></i>
          <span class="ms-1 fw-bold">DOTD</span>
        <% end %>

        <%= button_to display_dois_menu_index_path, class: "btn btn-sm m-1 btn-topic", 
            data: { controller: "button-color", action: "click->button-color#handleClick" } do %>
          <i class="fa fa-solid fa-xl fa-magnifying-glass text-danger"></i>
          <span class="ms-1 fw-bold">DOI</span>
        <% end %>

        <%= button_to display_synthese_licences_menu_index_path, class: "btn btn-sm m-1 btn-topic", 
            data: { controller: "button-color", action: "click->button-color#handleClick" } do %>
          <i class="fa fa-solid fa-xl fa-id-card text-danger"></i>
          <span class="ms-1 fw-bold">Licences</span>
        <% end %>
        
        <%= button_to display_paris_menu_index_path, class: "btn btn-sm m-1 btn-topic", 
            data: { controller: "button-color", action: "click->button-color#handleClick" } do %>
          <i class="fa fa-solid fa-xl fa-money-bill-wave text-success"></i>
          <span class="ms-1 fw-bold">Paris</span>
        <% end %>

        <%= button_to display_classement_pilotes_menu_index_path, class: "btn btn-sm m-1 btn-topic", 
            data: { controller: "button-color", action: "click->button-color#handleClick" } do %>
          <i class="fa fa-solid fa-xl fa-ranking-star"></i>
          <span class="ms-1 fw-bold">Pilotes</span>
        <% end %>
        <%= button_to display_classement_equipes_menu_index_path, class: "btn btn-sm m-1 btn-topic", 
            data: { controller: "button-color", action: "click->button-color#handleClick" } do %>
          <i class="fa fa-solid fa-xl fa-ranking-star"></i>
          <span class="ms-1 fw-bold">Equipes</span>
        <% end %>

      </div>

      <div id="partial-container" class="partial-topic">
        <%# recoit le turbo stream avec elements cliqués %>
      </div>

    </div>

  <% end %>

</div>

<br> <br>


