
<div class="container-fluid px-4 text-center card-with-effect">
  Pour parier c'est ici que ça se passe !
  Chaque semaine reçois des points pour parier, fais en bon usage !
  Les paris sont ouverts sur toutes les courses, mêmes celles auxquelles tu participes !
</div>

<h4 class="titre-topic">
  Paris
</h4>

<% if verif_delai_pari(@event.id) %>

    <% if current_user %>

        <%= boolean_container(true, "Les paris sont ouverts") %>                
      
        <button class="btn btn-primary my-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePari" aria-expanded="<%= @expand_pari ? 'true' : 'false' %>">
            <span>Nouveau</span>
        </button>

        <div class="collapse" id="collapsePari">

            <div id="new_pari">
                <%= render 'paris/form', pari: Pari.new() %>
            </div>
            
        </div>
    
    <% end %>
    
<% else %>
    <h4>
        <div class="container">
                <%= boolean_container(false, "Les paris sont fermés") %>
        </div>
    </h4>

<% end %>

<% if @event %>

    <div id="paris">
        <% @paris.each do |pari| %>
            <%= render pari %>
        <% end %>
    </div>

<% end %>
    