
<div class="d-flex align-items-center justify-content-center card-with-effect card-text-topic">
  Pour parier c'est ici que ça se passe !
  Chaque semaine reçois des points pour parier, fais en bon usage !
  Les paris sont ouverts à tous !
</div>

<h4 class="titre-topic">
  Paris
</h4>



<% if current_user %>

    <% if verif_delai_pari(@event.id) %>

        <% if verif_appartenance_division(current_user, @event.division_id) %>
            <div class="text-center text-danger"> Les paris ne sont pas autorisés sur une division à laquelle tu participes </div> 
        <% else %>
            <div class="container fs-6">
                <%= boolean_container(true, "Les paris sont ouverts") %>                
            </div>

            <button class="btn btn-primary my-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePari" aria-expanded="<%= @expand_pari ? 'true' : 'false' %>">
                <span>Nouveau</span>
            </button>

            <div class="collapse" id="collapsePari">
                <div id="new_pari">
                    <%= render 'paris/form', pari: Pari.new() %>
                </div>
            </div>
        <% end %>
    <% else %>
        <div class="container fs-6">
            <%= boolean_container(false, "Les paris sont fermés") %>
        </div>
    <% end %>
    
<% else %>

    <div class="container fs-6">
        <%= boolean_container(false, "Connecte toi à ton compte pour parier") %>
    </div>

<% end %>

<% if @event %>

    <div class="card-with-effect p-2">
        <h5>synthèse</h5>
        nombre paris: <span class="fw-bold"><%= @nb_paris %> </span><br>
        montant misé: <span class="fw-bold"><%= number_with_delimiter(@montant_paris, delimiter: ' ', precision: 0) %> </span><br>

        <% if @nb_paris > 0 %>          
            parieur avec le <i class="fa-solid fa-plus fw-bold"></i> de mises: 
            <span class="fw-bold"><%= @biggest_parieur %> </span>
            montant:  
            <span class="fw-bold"><%= number_with_delimiter(@sum_montant_biggest_parieur, delimiter: ' ', precision: 0) %> </span><br>

            coureur avec le <i class="fa-solid fa-plus fw-bold"></i> de mises:
            <span class="fw-bold"> <%= @biggest_coureur %> </span>
            montant:  
            <span class="fw-bold"><%= number_with_delimiter(@sum_montant_biggest_coureur, delimiter: ' ', precision: 0) %> </span><br>
        <% end %>

    </div>

    <div id="paris">
        <% @paris.order(:id).each do |pari| %>
            <%= render pari %>
        <% end %>
    </div>

<% end %>
    