<h4> synthèse licences </h4>
<%= link_to  "update licences", update_licences_path(@event), class: "btn btn-primary" %>
<%#= link_to  "supprimer licences", supprimer_licences_path(@event), class: "btn btn-danger" %>

<hr>

<div class="card record-with-effect bg-dark text-light text-center fw-bold my-2 p-1">
  <div class="row m-0 p-0">
    <div class="col-6 m-0 px-2">
      <strong>Pilote</strong>
    </div>
    <div class="col-2 m-0 p-0">
      <strong>Points Perdus</strong>
    </div>
    <div class="col-2 m-0 p-0">
      <strong>Points Gagnés</strong>
    </div>
    <div class="col-2 m-0 p-0">
      <strong>Solde</strong>
    </div>
  </div>
</div>

<% cumul_licence_user(@event).each do |user| %>

  <div class="card record-with-effect my-2 p-1">  
    <div class="row m-0 p-0 fw-bold">
      <div class="col-6 m-0 px-2 rounded record-max-height">
        <%= equipe_banner_with_pilote(AssociationUser.find(user[:association_user_id]).equipe , User.find(user[:user_id]).nom) %> 
      </div>

      <div class="col-2 m-0 p-0 bg-light text-danger rounded d-flex align-items-center justify-content-center record-max-height">
        <%= user[:perte_total] %> 
      </div>

      <div class="col-2 m-0 p-0 bg-light text-success rounded d-flex align-items-center justify-content-center record-max-height">
        <%= user[:gain_total] %> 
      </div>

      <div class="col-2 m-0 p-0 bg-light text-dark rounded d-flex align-items-center justify-content-center record-max-height">
        <%= user[:solde] %> 
      </div>
    </div>
  </div>
<% end %>

<%= link_to "", generate_image_licences_path(event: @event.id), class: 'btn fa fa-image btn-success' %>
<%#= link_to "Animation", animation_path(event: @event.id), class: 'btn btn-primary' %>
