<div id="score" class="card bg-dark text-light m-2">
  <div class="card-header p-0 px-1 black-colored">
    <h2>Score</h2>
  </div>

  <div class="card-body p-1">
    <%= render "setups/chartradar" %>

    <div class="row my-1">
      <% categorie_performances_with_details(Setup.find(session[:setup])).each do |comportement_details| %>
        <div class="col-md-6 col-lg-4">
          <div class="card border-light bg-dark text-light m-1 p-0">
            <%= link_to "#", class: "btn btn-sm text-light p-0", type: "button", 
                  data: { bs_toggle: "collapse", bs_target: "#collapse_comportement#{comportement_details[:category]}", bs_expanded: "false" } do %>
              <div class="card-header p-1">
                <div class="row m-0 p-0 align-items-center">
                  <div class="col-8 ps-1 m-0 text-start" style="font-size: smaller;">
                    <strong>
                      <% comportement = Comportement.find_by(label_categorie: comportement_details[:category]) %>
                      <% comportement.id if comportement %>
                      <%= content_tag(:i, nil, class: "fa fa-xl text-warning #{comportement.icon} mx-2") %>
                      <%= comportement_details[:category] %>
                    </strong>
                  </div>
                  <div class="col-2 mt-1" style="font-size: smaller;">
                    <% if @delta_data %>
                      <% matching_entry = @delta_data.find { |entry| entry['category'] == comportement_details[:category] } %>
                      <% if matching_entry && matching_entry['difference'] != 0 %>
                        <%= positif_negatif_badge(matching_entry['difference']) %>
                      <% end %>                      
                    <% end %>
                  </div>
                  <div class="col-2 mt-1 text-center">
                    <div class="badge bg-primary ms-1" style="font-size: smaller;"> <%= calculate_average_score(comportement_details[:details]).to_i %> </div>
                  </div> 

                </div>
              </div>
            <% end %>

            <div class="collapse" id="collapse_comportement<%= comportement_details[:category] %>">
              <div class="card-body border-light">
                <% comportement_details[:details].each do |details| %>
                  <div class="details">
                    <%= details[:base_setup] %> 
                    <div class="badge bg-light text-dark ms-1"> <%= details[:score] %> </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


