<div id="<%= dom_id setup %>">

  <div class="row m-0 p-1">

      <div class="col-8 ps-3">
            <%= link_to setup_path(setup), class: "no-underline" do %>
                  <%= setup.game.nom %> |
                  <%= setup.game.version %> |
                  <%= setup.nom %>
            <% end %>
      </div>

      <div class="col-4 d-flex justify-content-end align-items-center">
            <%= link_to "show", setup_path(setup), 
                  class: "btn btn-sm btn-outline-primary mx-1 p-1" %>

            <%= button_to "Edit", edit_setup_path(setup), method: :post, 
                  class: "btn btn-sm btn-outline-secondary mx-1  p-1" %>
            <%= button_to "Destroy", setup_path(setup), method: :delete, 
                  class: "btn btn-sm btn-outline-danger ms-1 p-1" %>
      </div>

  </div>
</div>
