<div id="<%= dom_id setup %>">

      <div class="row m-0 p-1">

            <div class="col-9 ps-2 d-flex align-items-center">
                  <%= link_to setup_path(setup), class: "no-underline" do %>
                        <%= setup.nom %>
                        <div class="badge bg-primary">   <%= setup.game.game_version %> </div>                        
                  <% end %>
            </div>

            <div class="col-3 d-flex justify-content-end align-items-center">
                  <% unless controller.controller_name == 'setups' && controller.action_name == 'show' %>
                        <%= link_to "", setup_path(setup), 
                              class: "btn btn-sm btn-outline-primary fa-solid fa-eye m-1" %>
                  <% end %>
                  
                  <%= button_to "", edit_setup_path(setup), method: :post, 
                        class: "btn btn-sm btn-outline-secondary fa-solid fa-pen-to-square m-1" %>
                  <%= button_to "", setup_path(setup), method: :delete, 
                        class: "btn btn-sm btn-outline-danger fa-solid fa-trash m-1" %>
            </div>      

      </div>

      <small class="container-fluid d-flex align-items-center text-light p-2">
            <% if @setup %>
                  <%= @setup.circuit.nom  %> 
                  <%= @setup.commentaires %> 
            <% end %>
      </small> 



</div>
