<p style="color: green"><%= notice %></p>

<div class="p-2">

  <h1 class="text-light d-flex align-items-center"> 
    Setups
    <small class="badge fs-6 bg-primary ms-2"> total: <%= @count_all_setups %> </small>
    
    
    <% if current_user %>
      <button class="btn btn-sm btn-warning m-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNewSetup" aria-expanded="false">
        <i class="fa-solid fa-square-plus fa-xl"></i>
      </button>
    <% else %>
        <%= add_disabled_button %>
    <% end %>

  </h1>

  <% if current_user %>

    <div class="collapse" id="collapseNewSetup"> 
      <div id="new_setup" class="card p-2">
        <%= render partial: "setups/form", locals: { setup: Setup.new } %>
      </div>
    </div>

    <div id="setups">
      <% @setups.each do |setup| %>
        <div class="card bg-dark text-light my-2">
          <%= render setup %>
        </div>
      <% end %>
    </div>
  
  <% end %>
  
</div>