
<div class="card bg-dark text-light m-2">
  <div class="container-fluid d-flex align-items-center text-light">    
    <%= render @setup %>
  </div> 
</div>

<div class="card bg-dark text-light m-2 p-1">
  <%= render  "parametres_setup" %>
</div>

<div>
  <%= render "score" %>
</div>

<%= render  "probleme_principal" %>


<hr>

<div class="my-3">
    <%= back_button_setup_dashboard %>
    <%= back_button_root %>
</div>
