
<div class="card bg-dark text-light m-2">
  <div class="container-fluid m-0 p-0">    
    <%= render @setup %>
  </div> 
</div>

<div class="card bg-dark text-light m-2 p-1">
  <%= render  "parametres_setup" %>
</div>

<div>
  <%= render "score" %>
</div>

<%= render  "probleme_principal" %>


<hr>

<div class="my-3 d-flex justify-content-center align-items-center">
    <%= back_button_setup_dashboard %>
    <%= back_button_root %>
    <%= link_to abonnements_path, data: {turbo: "false"}, class: "btn btn-sm btn-outline-danger m-1" do %>
        <i class="fa fa-solid fa-xl fa-heart-circle-bolt"></i>
    <% end %>
</div>