<p style="color: green"><%= notice %></p>

<div class="card bg-dark text-light my-2">
  <div class="container-fluid d-flex align-items-center text-light">
    <h1 class="me-1"> <%= @setup.nom %> </h1>
    <%= render @setup %>
  </div> 
</div>

<div class="card bg-dark text-light my-2">
  <%= render  "parametres_setup" %>
</div>

<div>
  <%= render "score" %>
</div>

<%= render  "probleme_principal" %>


<hr>
<%= link_to "Back to setups", setups_path, class: "btn btn-dark" %>
