
<div class="card bg-dark text-light m-2">
  <div class="container-fluid d-flex align-items-center text-light">
    <h1 class="me-1"> <%= @setup.nom %> </h1>
    <%= render @setup %>
  </div> 
  <small class="container-fluid d-flex align-items-center text-light p-2">
    <%#= @setup.nom %> 
    ajouter commentaires et circuit
  </small> 
</div>

<div class="card bg-dark text-light m-2 p-1">
  <%= render  "parametres_setup" %>
</div>

<div>
  <%= render "score" %>
</div>

<%= render  "probleme_principal" %>


<hr>

<div class="my-3">
    <%= back_button_setup_dashboard %>
    <%= back_button_root %>
</div>
