<div id="<%= dom_id circuit %>">

  <div class="card record-with-effect m-0 my-2">  

    <div class="row align-items-center">
      <div class="col-10">
          Nom:  <%= circuit.nom %>
          Pays: <%= circuit.pays %>
          Latitude: <%= circuit.latitude %>
          Longitude: <%= circuit.longitude %>
          <%= image_tag(circuit.drapeau, class: "img-fluid rounded", width: "50") if circuit.drapeau.present? %>

      </div>
      <div class="col-2 text-center">
        <div class="d-flex align-items-center">  

          <% if current_user && current_user.admin %>

            <%= button_to "", edit_circuit_path(circuit), method: :post, 
                  class: "btn btn-sm btn-secondary fa-solid fa-pen-to-square m-1" %>
            <%= button_to "", circuit, method: :delete, 
                  class: "btn btn-sm btn-danger fa-solid fa-trash m-1",
                  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
        
          <% end %>
        
        </div>
      </div>
    </div>
  </div>

</div>