<div id="<%= dom_id circuit %>">

  <div class="card record-with-effect m-0 my-2">  

    <div class="row align-items-center justicy-content-center">
      <div class="col-9">
        <%= image_tag(circuit.drapeau, class: "img-fluid rounded", width: "50") if circuit.drapeau.present? %>

        Nom:  <%= circuit.nom %>
        Pays: <%= circuit.pays %>

        <% @data = weather_data(circuit.latitude, circuit.longitude) %>
        <%= render  "meteo", locals: {data: @data} %>
              
      </div>
      
      <div class="col-3">
        <div class="d-flex align-items-center justify-content-end">  

          <% if current_user && current_user.admin %>

            <%= button_to "", edit_circuit_path(circuit), method: :post, 
                  class: "btn btn-sm btn-secondary fa-solid fa-pen-to-square m-1" %>
            <%= button_to "", circuit, method: :delete, 
                  class: "btn btn-sm btn-danger fa-solid fa-trash m-1",
                  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
        
          <% end %>
        
        </div>
      </div>
    </div>
  </div>


</div>