<div id="<%= dom_id circuit %>">
  <p>
    <strong>Nom:</strong>
    <%= circuit.nom %>
  </p>

  <p>
    <strong>Pays:</strong>
    <%= circuit.pays %>
  </p>

  <p>
    <strong>Adresse:</strong>
    <%= circuit.adresse %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= circuit.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= circuit.longitude %>
  </p>

</div>
