<%= form_with(model: circuit) do |form| %>
  <% if circuit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(circuit.errors.count, "error") %> prohibited this circuit from being saved:</h2>

      <ul>
        <% circuit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="cadre-record">
    <div class="row">
      <div class="col-10 mx-auto">

        <div class="input-group">
          <%= form.label :nom, class:"input-group-text label-with-format" %>
          <%= form.text_field :nom,  required: true, class:"form-control field-with-format" %>
        </div>
        <div class="input-group">
          <%= form.label :pays, class:"input-group-text label-with-format" %>
          <%= form.text_field :pays, class:"form-control field-with-format" %>
        </div>
        <div class="input-group">
          <%= form.label :adresse, class:"input-group-text label-with-format" %>
          <%= form.text_field :adresse, class:"form-control field-with-format" %>
        </div>
        <div class="input-group">
          <%= form.label :latitude, class:"input-group-text label-with-format" %>
          <%= form.text_field :latitude, class:"form-control field-with-format" %>
        </div>
        <div class="input-group">
          <%= form.label :longitude, class:"input-group-text label-with-format" %>
          <%= form.text_field :longitude, class:"form-control field-with-format" %>
        </div>

      </div>

      <div class="col-2 col-btn">
        <button type="submit" class="btn btn-valider">
          <span><i class="fa-solid fa-square-check"></i> </span>
        </button>
      </div>

    </div>

  </div>

<% end %>
