<div id="<%= dom_id article %>">
  
    <h5 class="text-center"> <%= colored_by_niveau(article.niveau, article.titre) %> </h5>
    <small class="mb-2"><%= article.content %>   </small>
    <div class="text-warning my-2"><%= number_to_currency(article.bonus_paris, precision: 0, unit: "", format: "%n %u") %> points bonus pour parier  </div>

    <div class="container-fluid text-center my-2">
      <%= image_tag(article.image, width: 100) if article.image.present? %>
    </div>

    <% if current_user && current_user.admin %>
      <div class="container">
        <%= link_to  "Edit", edit_article_path(article), class: "btn btn-sm btn-secondary m-1 w-100" %>
        <%#= button_to "Destroy this article", article, method: :delete %>
      </div>
    <% end %>

    <% if article.abonnement? %>
      <div class="fw-bold m-1">
        <%= number_to_currency(article.montant, precision: 2, unit: "€", format: "%n %u") %> / mois
      </div>
    <% end %>

    <div data-turbo='false'>

      <% if current_user.present? && article.abonnement && current_user.purchases.where(article_id: article.id, status: 'paid').any? %>  
        <div class="btn btn-sm btn-warning">
          Abonné!
        </div>

        <button class="btn btn-sm btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample<%= article.id %>" aria-expanded="false" aria-controls="collapseExample">
          <i class="fa fa-gear"></i>
        </button>

        <div class="collapse" id="collapseExample<%= article.id %>">
          <% stripe_subscription = current_user.purchases.where(article_id: article.id, status: 'paid').first.stripe_ref %>      

          <%= form_with url: :unsubscribe_session do |f| %>
            <%= f.hidden_field :subscription_id, value: stripe_subscription %>
            <%= f.hidden_field :id, value: article.id %>
            <%= f.submit 'Se désabonner', class: "btn btn-sm btn-outline-danger w-100 my-2"  %>
          <% end %>
        </div>

      <% else %>

        <% if current_user.present? %>
          <%= form_with url: :create_checkout_session do |f| %>
            <%= f.hidden_field :id, value: article.id %>
            <%= f.submit 'Acheter', class: "btn btn-success m-1 w-100 fa fa-fade", style: "font-family: Arial, sans-serif;" %>
          <% end %>
        <% end %>
        
      <% end %>

    </div>


</div>