<div id="<%= dom_id article %>">
  <p>
    <strong>Titre:</strong>
    <%= article.titre %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= article.content %>
  </p>

  <p>
    <strong>Montant:</strong>
    <%= article.montant %>
  </p>

 <%= image_tag(article.image) if article.image.present? %>

<div data-turbo='false'>

  <% if current_user.present? && current_user.purchases.where(article_id: article.id).any? %>  
    <div class="btn btn-warning">
      purchased
    </div>
  <% else %>

    <%= form_with url: :create_checkout_session do |f| %>
      <%= f.hidden_field :id, value: article.id %>
      <%= f.submit 'buy me', class: "btn btn-success" %>
    <% end %>
  <% end %>

</div>


</div>
