<div class="card m-0 my-1 p-2" style="max-width: 300px;">  

  <%= form_with(model: rivalite) do |form| %>
    <% if rivalite.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(rivalite.errors.count, "error") %> prohibited this rivalite from being saved:</h2>

        <ul>
          <% rivalite.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if rivalite.persisted? %>
      <%= form.hidden_field :division_id %> 
    <% else %>
      <%= form.hidden_field :division_id, value: session[:division] %> 
    <% end %>

    <div class="row g-2">
      <div class="input-group input-group-sm my-1 label-colored">
        <%= form.label :pilote1_id, class: "input-group-text label-colored" %>
        <%= form.collection_select :pilote1_id,
                pilotes_division_named(Division.find(session[:division])), :first, :second,
                { include_blank: 'Select Pilote' },
                  class: "form-select input-colored" %>  
      </div>

      <div class="input-group input-group-sm my-1 label-colored">
        <%= form.label :pilote2_id, class: "input-group-text label-colored" %>
        <%= form.collection_select :pilote2_id,
                pilotes_division_named(Division.find(session[:division])), :first, :second,
                { include_blank: 'Select Pilote' },
                  class: "form-select input-colored" %>         
      </div>

      <div class="col-md">
        <div class="px-2">
          <div class="form-check form-switch">
            <%= form.label :statut, class: "form-check-label fs-6" %>
            <%= form.check_box :statut, class: "form-check-input fs-6" %>
          </div>
        </div>
      </div>

      <%= custom_submit_button("Rivalité") %>

    </div>
  <% end %>

</div>