<div id="<%= dom_id rivalite %>">
  <p>
    <strong>Division:</strong>
    <%= rivalite.division_id %>
  </p>

  <p>
    <strong>Pilote1:</strong>
    <%= rivalite.pilote1_id %>
  </p>

  <p>
    <strong>Pilote2:</strong>
    <%= rivalite.pilote2_id %>
  </p>

  <p>
    <strong>Statut:</strong>
    <%= rivalite.statut %>
  </p>

</div>
