<%= form_with(model: resultat) do |form| %>
  <% if resultat.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(resultat.errors.count, "error") %> prohibited this resultat from being saved:</h2>

      <ul>
        <% resultat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="score">
    <div class="cadre-record">
      <div class="row">
        <div class="col-10 mx-auto ">
          <div class="input-group">
            <% form.label :event_id, class:"input-group-text label-with-format" %>
            <% if resultat.persisted? %>
              <%= form.hidden_field :event_id %>
            <% else %>
              <%= form.hidden_field :event_id, value: @eventId %>
            <% end %>
          </div>

          <div class="input-group">
            <%= form.label :pilote_id, class:"input-group-text label-with-format" %>
            <%= form.collection_select :pilote_id, filtreDivisionCourante, :id, :nom, {include_blank: true}, 
                  class:"form-select field-with-format" %>
          </div>

          <div class="input-group">
            <%= form.label :equipe_id, class:"input-group-text label-with-format" %>
            <%= form.collection_select :equipe_id, @equipes, :id, :nom, {include_blank: true}, 
                  class:"form-select field-with-format" %>
          </div>

          <div class="input-group">
            <%= form.label :qualification, class:"input-group-text label-with-format" %>
            <%= form.select :qualification, @liste_positions, {include_blank: true}, 
                class:"form-select field-with-format" %>
          </div>

          <div data-controller="score">  
            <div class="input-group">
              <%= form.label :course, class:"input-group-text label-with-format" %>
              <%= form.select :course,  @liste_positions, {}, data: {
                    action: "change->score#calculateScore", 
                    target: "score.course", 
                    score_target: "course" }, 
                    class:"form-select field-with-format" %>  
            </div>
          
            <div class="input-group">
              <%= form.label :score, class:"input-group-text label-with-format" %>
              <%= form.number_field :score, data: {
                    action: "change->score#calculateScore", 
                    target: "score.score", 
                    score_target: "score" }, 
                    class:"form-select field-with-format" %>  
            </div>

             <div class="input-group">
              <div class="form-check form-switch">
                <div class="custom-control custom-switch">
                  <%= form.check_box :dotd, class:"form-check-input", id: "", data: {
                      action: "change->score#calculateScore", 
                      target: "score.dotd", 
                      score_target: "dotd" }  %> 
                  <label class="text-light" for="">dotd</label>
                </div>
              </div>
            </div> 

            <div class="input-group">
              <div class="form-check form-switch">
                <div class="custom-control custom-switch">
                  <%= form.check_box :mt, class:"form-check-input", id: "", data: {
                      action: "change->score#calculateScore", 
                      target: "score.mt", 
                      score_target: "mt" }  %> 
                  <label class="text-light" for="">MT</label>
                </div>
              </div>
            </div>

            <div class="input-group">
              <div class="form-check form-switch">
                <div class="custom-control custom-switch">
                  <%= form.check_box :dnf, class:"form-check-input", id: "" %>
                  <label class="text-light" for="">DNF</label>
                </div>
              </div>
            </div>

            <div class="input-group">
              <div class="form-check form-switch">
                <div class="custom-control custom-switch">
                  <%= form.check_box :dns, class:"form-check-input", id: "" %>
                  <label class="text-light" for="">DNS</label>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2 col-btn">
          <button type="submit" class="btn btn-valider">
            <span><i class="fa-solid fa-square-check"></i> </span>
          </button>
        </div>
        
      </div>
    </div>
  </div>

<% end %>
