<%= form_with(model: resultat) do |form| %>
  <% if resultat.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(resultat.errors.count, "error") %> prohibited this resultat from being saved:</h2>

      <ul>
        <% resultat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="cadre-record">
    <div class="row">

      <div class="col-10 mx-auto ">
        <div class="input-group">
          <%= form.label :event_id, class:"input-group-text label-with-format" %>
          <%= form.number_field :event_id,  value: @eventId, class:"form-control field-with-format" %>
        </div>
        <div class="input-group">
          <%= form.label :pilote_id, class:"input-group-text label-with-format" %>
          <%= form.collection_select :pilote_id, Pilote.all, :id, :nom, {}, class:"form-select field-with-format" %>
        </div>

        <div class="input-group">
          <%= form.label :equipe_id, class:"input-group-text label-with-format" %>
          <%= form.number_field :equipe_id, class:"form-control field-with-format" %>
        </div>
        <div class="input-group">
          <%= form.label :qualification, class:"input-group-text label-with-format" %>
          <%= form.number_field :qualification, class:"form-control field-with-format" %>
        </div>
        <div class="input-group">
          <%= form.label :course, class:"input-group-text label-with-format" %>
          <%= form.number_field :course, class:"form-control field-with-format" %>
        </div>
        <div class="input-group">
          <%= form.label :dotd, class:"input-group-text label-with-format" %>
          <%= form.number_field :dotd, class:"form-control field-with-format" %>
        </div>
        <div class="input-group">
          <%= form.label :mt, class:"input-group-text label-with-format" %>
          <%= form.number_field :mt, class:"form-control field-with-format" %>
        </div>
        <div class="input-group">
          <%= form.label :score, class:"input-group-text label-with-format" %>
          <%= form.number_field :score, class:"form-control field-with-format" %>
        </div>
        <div class="input-group">
          <%= form.label :dnf, class:"input-group-text label-with-format" %>
          <%= form.number_field :dnf, class:"form-control field-with-format" %>
        </div>
        <div class="input-group">
          <%= form.label :dns, class:"input-group-text label-with-format" %>
          <%= form.number_field :dns, class:"form-control field-with-format" %>
        </div>

      </div>

      <div class="col-2 col-btn">
        <button type="submit" class="btn btn-valider">
          <span><i class="fa-solid fa-square-check"></i> </span>
        </button>
      </div>
    </div>
  </div>
<% end %>

