<div data-controller="resultat">

  <div class="card record-with-effect m-0 p-1" style="max-width: 480px;">

    <%= form_with(model: resultat, 
        data: { controller: "reset-form", 
        action: "turbo:submit-end->reset-form#hide_new_form"}) do |form| %>

      <% if resultat.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(resultat.errors.count, "error") %> prohibited this resultat from being saved:</h2>

          <ul>
            <% resultat.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if resultat.persisted? %>
        <%= form.hidden_field :event_id %> 
      <% else %>
        <%= form.hidden_field :event_id, value: session[:event] %> 
      <% end %>

      <div class="row g-2">
        <div class="col-md">
          <div class="input-group input-group-sm my-1">
            <%= form.label :pilote, class: "input-group-text" %>
            <%= form.collection_select :association_user_id,
                      pilotes_division_named(Division.find(session[:division])), :first, :second,
                      { include_blank: 'Select Pilote' },
                      data: { action: "change->resultat#update_equipe", resultat_target: "pilote" },
                      class: "form-select" %>         
          </div>
        </div>
        <div class="col-md">
          <div class="input-group input-group-sm my-1">
            <%# plus tard cacher equipe id et afficher equipe dans le select asso user%>
            <%= form.label :equipe_id, class: "input-group-text" %>                    
            <%= form.collection_select :equipe_id, @equipes, :id, :nom,
                      { include_blank: 'Select Equipe' },
                      data: { resultat_target: "equipe" }, class: "form-select" %>
          </div>
        </div>
      </div>

      <div class="row g-2">
        <div class="col-md">
          <div class="input-group input-group-sm my-1">
            <%= form.label :qualif, class: "input-group-text" %>
            <%= form.select :qualification, options_for_select([nil] + (1..20).to_a, 
                  selected: resultat.qualification), {}, class: "form-select" %>
          </div>
        </div>
        <div class="col-md">
          <div class="input-group input-group-sm my-1">
            <%= form.label :sprint, class: "input-group-text" %>
            <%= form.select :qualification_sprint, options_for_select([nil] + (1..20).to_a, 
                  selected: resultat.qualification_sprint), {}, 
                  data: { action: "change->resultat#update_score", resultat_target: "sprint" }, 
                  class: "form-select" %>
          </div>
        </div>
        <div class="col-md">
          <div class="input-group input-group-sm my-1">
            <%= form.label :course, class: "input-group-text" %>
            <%= form.select :course, options_for_select([nil] + (1..20).to_a, 
                  selected: resultat.course), {}, 
                  data: { action: "change->resultat#update_score", resultat_target: "course" }, 
                  class: "form-select" %>
          </div>
        </div>
      </div>

      <div class="row g-2 px-2">
        <div class="col">
          <div class="form-check form-switch">
            <%= form.label :dotd, class: "form-check-label fs-6" %>
            <%= form.check_box :dotd, 
                  data: { action: "change->resultat#update_score", resultat_target: "dotd" }, 
                  class: "form-check-input fs-6" %>
          </div>
        </div>
        <div class="col">
          <div class="form-check form-switch">
            <%= form.label :mt, class: "form-check-label fs-6" %>
            <%= form.check_box :mt, 
                  data: { action: "change->resultat#update_score", resultat_target: "mt" }, 
                  class: "form-check-input fs-6" %>
          </div>
        </div>
      </div>

      <div class="row g-2 px-2">
        <div class="col">
          <div class="form-check form-switch">
            <%= form.label :dnf, class: "form-check-label fs-6" %>
            <%= form.check_box :dnf, 
                  data: { action: "change->resultat#update_score", resultat_target: "dnf" }, 
                  class: "form-check-input fs-6" %>
          </div>
        </div>
        <div class="col">
          <div class="form-check form-switch">
            <%= form.label :dns, class: "form-check-label fs-6" %>
            <%= form.check_box :dns, 
                  data: { action: "change->resultat#update_score", resultat_target: "dns" }, 
                  class: "form-check-input fs-6" %>
          </div>
        </div>
      </div>

      <div class="input-group input-group-sm my-1">
        <%= form.label :score, class: "input-group-text fs-6" %>
        <%= form.number_field :score, data: { resultat_target: "score" }, class: "form-control" %>
      </div>

      <%= custom_submit_button("Résultat") %>

    <% end %>

  </div>

</div>