<div id="<%= dom_id resultat %>">
  <p>
    <strong>Event:</strong>
    <%= resultat.event_id %>
  </p>

  <p>
    <strong>Pilote:</strong>
    <%= resultat.pilote_id %>
  </p>

  <p>
    <strong>Equipe:</strong>
    <%= resultat.equipe_id %>
  </p>

  <p>
    <strong>Qualification:</strong>
    <%= resultat.qualification %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= resultat.course %>
  </p>

  <p>
    <strong>Dotd:</strong>
    <%= resultat.dotd %>
  </p>

  <p>
    <strong>Mt:</strong>
    <%= resultat.mt %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= resultat.score %>
  </p>

  <p>
    <strong>Dnf:</strong>
    <%= resultat.dnf %>
  </p>

  <p>
    <strong>Dns:</strong>
    <%= resultat.dns %>
  </p>

</div>
