
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<%= stylesheet_link_tag "document" %>


<div id="captureContainer" class="doc-background my-2" style="width: 600px; margin: 0 auto;">

  <body>

  <%= render partial: "documents/entete",  locals: { titre: "Résultats" } %>

    <%#= tableau data resultats %>
        
    <table style="margin-left:auto;margin-right:auto">
      <tbody>
        <% @resultats.each do |resultat| %>
          <% nom = User.find(resultat.association_user.user_id).nom %>
          <% equipe = resultat.equipe %>

          <tr>
            <td>
              <% if resultat.dotd == true %>
                <%= image_tag asset_url('/images/dotd_gold.png'), style: "width: 28px; margin-top: 4px; margin-left: 2px;" %> 
              <% end %>
            </td>
            <td>
              <div class="col_pos_new rounded d-flex align-items-center justify-content-center">
                <%= resultat.course %> 
              </div>
            </td>

            <td>
                <%= equipe_banner_with_data_document(equipe, nom) %>               
            </td>

            <td>
              <div class="col_pos_new rounded d-flex align-items-center justify-content-center">
                 <%= resultat.score %> 
              </div>
            </td>
            <td style= "width: 28px; margin-top: 4px;">
              <% if resultat.mt == true %>
                <%= image_tag asset_url('/images/mt_violet.png'), style: "max-width: 100%; max-height: 100%;" %>
              <% end %>
            </td>
          </tr>
        <% end %> 
      </tbody>  
    </table>

  </body>

  <br><br>

</div>


<div class="d-flex">
  <%= back_button_on_event(@event.id) %>
  <button class="fa fa-solid fa-image btn btn-success m-1" data-controller="screenshot" 
          data-nom-doc="<%= @event.nom_doc("resultat") %>" 
          data-action="click->screenshot#capture">
  </button>
</div>