<%= form_with(model: problem) do |form| %>
  <% if problem.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
        <% problem.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group input-group-sm my-1">
    <%= form.label :nom, class: "input-group-text label-colored" %>
    <%= form.text_field :nom, class: "form-control input-colored" %>
    <div class="input-group-append ms-1">  <%= custom_submit_button_icon_only %> </div>
  </div>

<% end %>
