<div id="<%= dom_id comportement %>">

  <div class="d-flex my-1">
    <%= comportement.nom %>

    <strong class="mx-1">principal:</strong>
    <%= comportement.principal %>

    <%= button_to "Edit", edit_comportement_path(comportement), method: :post, 
          class: "btn btn-sm btn-outline-secondary mx-1 p-1" %>
    <%= button_to "Destroy", comportement_path(comportement), method: :delete, 
          class: "btn btn-sm btn-outline-danger mx-1 p-1" %>
  </div>

</div>
