<%= form_with(model: comportement) do |form| %>
  <% if comportement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comportement.errors.count, "error") %> prohibited this comportement from being saved:</h2>

      <ul>
        <% comportement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group input-group-sm mb-1">
    <%= form.label :nom, class: "input-group-text label-colored" %>
    <%= form.text_field :nom, class: "form-control input-colored" %>
  </div>

  <div class="input-group input-group-sm mb-1">
    <%= form.label :principal, class: "input-group-text label-colored" %>
    <%= form.check_box :principal, class: "form-control input-colored" %>
  </div>

  <div class="input-group input-group-sm mb-1">
    <%= form.label :label_categorie, class: "input-group-text label-colored" %>
    <%= form.text_field :label_categorie, class: "form-control input-colored" %>
  </div>

  <div class="input-group input-group-sm mb-1">
    <%= form.label :icon, class: "input-group-text label-colored" %>
    <%= form.text_field :icon, class: "form-control input-colored" %>
  </div>

  <div class="input-group-append ms-1">  <%= custom_submit_button_icon_only %> </div>

<% end %>
