<div id="<%= dom_id doi %>">

  <div class="card record-with-effect m-0 my-1 p-2">  

    <div class="row align-items-center">
      <div class="col-9">
        demandeur: <strong> <%= AssociationUser.find(doi.demandeur_id).user.nom %></strong>
       
        impliqué: <strong><%= AssociationUser.find(doi.implique_id).user.nom %></strong> 
        Description: <%= doi.description %>
        Lien:   <%= doi.lien %>
        Decision: <%= doi.decision %>
        Reglement:   <%= Reglement.find(doi.reglement_id).titre_article if doi.reglement_id %>
        <% if doi.penalite.present? %>
          Penalité licence:<strong class="text-danger"> <%= doi.penalite %> points </strong>
        <% end %>

        <% if doi.penalite_temps.present? %>
          Penalité temps: <strong class="text-danger"> <%= doi.penalite_temps %> secondes </strong> 
        <% end %>

        Commentaire:  <%= doi.commentaire %>
        Resp. commissaire: <strong> <%= AssociationAdmin.find(doi.association_admin_id).user.nom  if doi.association_admin_id %> </strong>

      </div>
      <div class="col-3 text-center">
        <div class="d-flex align-items-center">  
          <%= link_to "", generate_image_dois_path(doi: doi), 
                class: 'btn btn-sm btn-success fa-solid fa-image m-1' %>

          <%= button_to "", edit_doi_path(doi), method: :post, 
                class: "btn btn-sm btn-secondary fa-solid fa-pen-to-square m-1" %>
          <%= button_to "", doi, method: :delete, 
                class: "btn btn-sm btn-danger fa-solid fa-trash m-1",
                data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
        </div>
      </div>
    </div>
  </div>

</div>
