
<div class="card-with-effect">
   <h4> Statistiques </h4>

    <%# comparaison %>

  <%= form_tag(controller: 'home', action: 'display_comparaison_stats', id: @user.id) do %>

    <div class="input-group input-group-sm my-2">
      <%= label_tag :select_option, 'Select a pilote:', class: 'input-group-text' %>
      <%= select_tag :select_option, options_for_select(User.all.pluck(:nom, :id), nil), include_blank: true, class: 'form-select' %>
      <button type="submit" class="btn btn-sm btn-primary">
          <i class="fa fa-solid fa-xl fa-magnifying-glass-chart"></i>
          <span class="ms-2 fw-bold">Comparaison</span>
      </button>
    </div>

  <% end %>
    
  <div id="partial-container" class="p-2">
      <%# recoit le turbo stream avec elements cliqués %>
      <%= render "chartpie" %>      
      <%= render "tableau_statistiques" %>      
  </div>


  

</div>