
<div class="card-with-effect">
   <h4> stats pilote </h4>

    <%# comparaison %>

    <%= form_tag(controller: 'home', action: 'display_comparaison_stats', id: @user.id) do %>
        <%= label_tag :select_option, 'Select a pilote:' %>
<%= select_tag :select_option, options_for_select(User.all.pluck(:nom, :id), nil), include_blank: true %>
  
        <%= button_tag type: 'submit', class: 'btn btn-sm btn-primary' do %>
            <i class="fa fa-solid fa-xl fa-magnifying-glass-chart"></i>
            <span class="ms-2 fw-bold">Comparaison</span>
        <% end %>
    <% end %>
    

    <div id="partial-container" class="p-2">
        <%# recoit le turbo stream avec elements cliqués %>
        <%= render  "tableau_statistiques" %>      
    </div>

</div>