
<div class="card-with-effect">
   <h4> stats pilote </h4>

    <div class="badge bg-dark my-2">
        nb courses: <%= user_resultats_stats(@user)[:nb_courses] %> <br>
    </div> 

    <table class="table">
        <thead class="table-dark">
          <th> résultat </th>
          <th> nombre</th>
          <th> %</th>
        </thead>
          
        <tbody>
            <tr>
                <td>Victoire</td>
                <td>  <%= user_resultats_stats(@user)[:nb_victoires] %>  </td>
                <td> <%= user_resultats_stats(@user)[:tx_victoires].to_f %> % </td>
            </tr>

            <tr>
                <td>Podium</td>
                <td>  <%= user_resultats_stats(@user)[:nb_podiums] %>  </td>
                <td> <%= user_resultats_stats(@user)[:tx_podiums].to_f %> % </td>
            </tr>
                <tr>
                <td>Top5</td>
                <td>  <%= user_resultats_stats(@user)[:nb_top5] %>  </td>
                <td> <%= user_resultats_stats(@user)[:tx_top5].to_f %> % </td>
            </tr>
            <tr>    
                <td>Top10</td>
                <td>  <%= user_resultats_stats(@user)[:nb_top10] %>  </td>
                <td> <%= user_resultats_stats(@user)[:tx_top10].to_f %> % </td>
            </tr>

        </tbody>
    </table>

</div>