<div class="card-with-effect p-2" id="<%= dom_id user %>">

  <h4 class="text-center"> <%= user.nom %> </h4>

  <strong>Participations:</strong> <br>

  <% user.association_users.each do |association_user| %>
    <div class="d-flex align-items-center justify-content-center m-1">
      <div class="badge bg-dark mx-1 p-2"> 
        <%= association_user.division.saison.ligue.nom %> 
        <%= association_user.division.saison.nom %> 
        <%= association_user.division.nom %> 
      </div>
      <%= equipe_banner_with_data(association_user.equipe, association_user.user.nom) %>
      <div class="badge bg-dark mx-1 p-2"> 
        <%= boolean_icon(association_user.actif) %>
      </div>
    </div>
  <% end %>
  

</div>

