<div id="<%= dom_id reglement %>">

  <div class="card record-with-effect m-0 my-2">  

    <div class="row align-items-center">
      <div class="col-8">
        Ligue: <%= reglement.ligue_id %>
        Defaut: <%= reglement.defaut %>
        Num article: <%= reglement.num_article %>
        Titre article:  <%= reglement.titre_article %>
        Contenu article: <%= reglement.contenu_article %>
        Penalite: <%= reglement.penalite %>
        Penalite temps:  <%= reglement.penalite_temps %>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
         
        <% if current_user && current_user.admin %>
          <%= button_to "", edit_reglement_path(reglement), method: :post, 
                class: "btn btn-sm btn-secondary fa-solid fa-pen-to-square m-1" %>
          <%= button_to "", reglement, method: :delete, 
                class: "btn btn-sm btn-danger fa-solid fa-trash m-1",
                data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
        <% end %>
        
      </div>
    </div>
  </div>

</div>
