
<div id="<%= dom_id division %>">

  <div class="cadre-record">
    <div data-controller="dropdown" data-action="turbo:submit-end->dropdown#submitEnd">
      <div class="row">
        <div class="col-8 col-data">
          <%= division.nom %>
          <%= division.numero %>
            <div data-dropdown-target="dropdownContent">

                    listePilotes de la div:

                    <%= Pilote.in_division(division.numero).ids %>
                    <%= @pilotes.ids %>


            </div>
        </div>
        <div class="col-4 col-btn">  
          <div role="button" data-action="click->dropdown#openDropdown" 
              data-dropdown-target="openButton", class="fa-solid fa-eye btn btn-outline-primary btn-action">
          </div>
          <div role="button" data-action="click->dropdown#closeDropdown" 
            data-dropdown-target="closeButton", class="fa-solid fa-eye-slash btn btn-outline-primary btn-action">
          </div>
                
          <%= button_to "", edit_division_path(division, saisonId: @saisonId), 
                class:"fa-regular fa-pen-to-square btn btn-secondary btn-action", method: :post %> 
          <%= button_to '', division_path(division), 
                class:"fa-solid fa-trash-can btn btn-danger btn-action", method: :delete,
                :onclick => "return confirm('Etes-vous certain de vouloir supprimer le division ?')" %> 
        </div>
      </div>
    </div>
  </div>
</div>