<div class="card record-with-effect m-0 my-1 p-2">  

  <%= form_with(model: division) do |form| %>
    <% if division.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(division.errors.count, "error") %> prohibited this division from being saved:</h2>

        <ul>
          <% division.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :saison_id, value: session[:saison] %> 

    <div class="input-group input-group-sm my-2">
      <%= form.label :nom, class: "input-group-text" %>
      <%= form.text_field :nom, class: "form-control"%>
    </div>

    <%= custom_submit_button("Division") %>

  <% end %>

</div>