<div class="card p-2 my-1">  

  <%= form_with(model: division) do |form| %>
    <% if division.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(division.errors.count, "error") %> prohibited this division from being saved:</h2>

        <ul>
          <% division.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :saison_id, value: session[:saison] %> 

    <div class="input-group input-group-sm my-2">
      <%= form.label :nom, class: "input-group-text label-colored" %>
      <%= form.text_field :nom, class: "form-control input-colored"%>
    </div>

    <div class="form-check form-switch">
      <%= form.label :archived, class: "form-check-label" %>
      <%= form.check_box :archived, class: "form-check-input" %>
    </div>

    <div class="form-check form-switch">
      <%= form.label :licence_equipe, class: "form-check-label" %>
      <%= form.check_box :licence_equipe, class: "form-check-input" %>
    </div>

    <%= custom_submit_button("Division") %>

  <% end %>

</div>