<div id="<%= dom_id purchase %>">
  <p>
    <strong>Status:</strong>
    <%= purchase.status %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= purchase.article_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= purchase.user_id %>
  </p>

  <p>
    <strong>Stripe ref:</strong>
    <%= purchase.stripe_ref %>
  </p>

</div>
