<p style="color: green"><%= notice %></p>

<div class="p-2">
  <h1>Purchases</h1>

  <hr>  

    <% User.all.each do |user|%>
      <%= user.nom %>
      
      <% user.purchases.each do |purchase| %>
        <%= link_to purchase_path(purchase), class: "badge bg-warning text-dark mx-1" do %>
          <%= purchase.article.titre %> 
          montant: <%= number_to_currency(purchase.article.montant, precision: 0, unit: "€", format: "%n %u") %> / mois

        <% end %>
      <% end %>
      <hr>
    <% end %>
    
</div>