<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container-fluid m-0 p-0">
    <div class="text-start">
        
      <%= link_to image_tag("/images/brandlogo.webp", width: 220, alt: "Go to home page"), 
            home_index_path, class: "mx-2" %>   
                
    </div>
    <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse px-2" id="navbarNav">
      <ul class="navbar-nav px-2">
        <li class="nav-item">
          <%= link_to root_path, class:"nav-link text-warning" do %>
            <i class="fa fa-xl fa-solid fa-flag-checkered"></i>
            <span class="ms-1 fw-bold">Welcome</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to home_index_path, class:"nav-link" do %>
            <i class="fa fa-xl fa-solid fa-home"></i>
            <span class="ms-1 fw-bold">Home</span>
          <% end %>
          
        </li>
        <li class="nav-item">
          <%= link_to menu_index_path, class:"nav-link text-light" do %>
            <i class="fa fa-xl fa-solid fa-compass"></i>
            <span class="ms-1 fw-bold">Menu</span>
          <% end %>
           
        </li>

        <li class="nav-item dropdown m-0 p-0">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-solid fa-users"></i>
              <span class="ms-1 fw-bold">Users</span>
              
            </a>
            <ul class="dropdown-menu dropdown-menu-dark m-0 p-0">
              <li> 
                  <%= link_to users_path, class: "dropdown-item text-light" do %>
                    <i class="fa fa-solid fa-id-card"></i>
                    <span class="ms-1 fw-bold">Profiles</span>
                  <% end %>
              </li>    
              <li> 
                  <%= link_to parieurs_path, class: "dropdown-item text-success" do %>
                    <i class="fa fa-solid fa-money-bill-wave"></i>
                    <span class="ms-1 fw-bold">Parieurs</span>
                  <% end %>
              </li>
              <li> 
                  <%= link_to scoring_path, class: "dropdown-item text-warning" do %>
                    <i class="fa fa-solid fa-medal"></i>
                    <span class="ms-1 fw-bold">Scoring</span>
                  <% end %>
              </li>        
            </ul>

        </li>


        <% if current_user && current_user.admin  %>    
          <li class="nav-item">
            <%= link_to  "Admin", admin_root_path, class:"nav-link text-warning" %>
          </li>   
          <!--li class="nav-item">
            <%#= link_to 'Stats', "/analytics", class:"nav-link text-warning" %> 
          </li-->
          <li class="nav-item">
            <%= link_to  "Equipes", equipes_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to  "Circuits", circuits_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to  "Règlements", reglements_path, class:"nav-link" %>
          </li>
        <% end %>    

        <% unless current_user %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link text-warning no-underline mx-1", 
                    title: "Sign In", 'aria-label' => "Sign In" do %>
              <i class="fa fa-solid fa-lg fa-user-lock" aria-hidden="true"></i>
            <% end %>
          </li>

          <li class="nav-item">

            <%= link_to steps_compte_step1_path, class: "nav-link text-primary no-underline mx-1",
                    title: "Create an Account", 'aria-label' => "Create an Account" do %>
              <i class="fa fa-solid fa-lg fa-user-plus" aria-hidden="true"></i>
            <% end %>
          </li>

        <% else %>

          <li class="nav-item">
            <%= link_to user_path(current_user, anchor: 'partial-container'), class: "nav-link text-primary no-underline" do %>
              <i class="fa fa-solid fa-xl fa-magnifying-glass-chart"></i>
              <span class="ms-1 fw-bold">Stats</span>
            <% end %>
          </li>
          
          <li class="nav-item">
            <%= link_to setup_dashboard_path, class:  "nav-link text-success no-underline" do %>
              <i class="fa fa-solid fa-xl fa-screwdriver-wrench"></i>
              <span class="ms-1 fw-bold">SetupTool</span>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to user_path(current_user), class: "nav-link text-warning no-underline" do %>
              <i class="fa fa-solid fa-xl fa-user"></i>
              <span class="ms-1 fw-bold">Mon compte</span>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to abonnements_path, data: {turbo: "false"}, class: "nav-link text-danger no-underline" do %>
              <i class="fa fa-solid fa-xl fa-heart-circle-bolt"></i>
              <span class="ms-1 fw-bold">Soutenir</span>
            <% end %>
          </li>

        <% end %>  


       
      </ul>
    </div>
  </div>
</nav>