<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <%= link_to image_tag("f1_icon.png", border: 0, width: 50), root_path, class:"navbar-brand"%>
    <h1> mySimLeague </h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto mb-2">
          <li class="nav-item ms-3">
            <%= link_to(root_path, class:"middled btn") do %>
              <i class="fa fa-house iconcolor-nav"></i>
              <span class="text-light fw-bold middled"> 
                ACCUEIL 
              </span>
            <% end %>
          </li>
          <li class="nav-item ms-3">
            <%= link_to(pilotes_path, class:"middled btn") do %>
              <i class="fa fa-user iconcolor-nav"></i>
              <span class="text-light fw-bold middled"> 
                PILOTES 
              </span>
            <% end %>
          </li>

          <li class="nav-item ms-3">
            <%= link_to(circuits_path, class:"middled btn") do %>
              <i class="fa fa-road iconcolor-nav"></i>
              <span class="text-light fw-bold middled"> 
                CIRCUITS 
              </span>
            <% end %>
          </li>

          <li class="nav-item ms-3">
            <%= link_to(ligues_path, class:"middled btn") do %>
              <i class="fa fa-people-group iconcolor-nav"></i>
              <span class="text-light fw-bold middled"> 
                LIGUES 
              </span>
            <% end %>
          </li>
          <li class="nav-item ms-3">
            <%= link_to(saisons_path, class:"middled btn") do %>
              <i class="fa fa-arrows-spin iconcolor-nav"></i>
              <span class="text-light fw-bold middled"> 
                SAISONS 
              </span>
            <% end %>
          </li>
          <li class="nav-item ms-3">
            <%= link_to(divisions_path, class:"middled btn") do %>
              <i class="fa fa-layer-group iconcolor-nav"></i>
              <span class="text-light fw-bold middled"> 
                DIVISIONS 
              </span>
            <% end %>
          </li>

          <li class="nav-item ms-3">
            <%= link_to(equipes_path, class:"middled btn") do %>
              <i class="fa fa-car iconcolor-nav"></i>
              <span class="text-light fw-bold middled"> 
                ECURIES 
              </span>
            <% end %>
          </li>

          <li class="nav-item ms-3">
            <%= link_to(events_path, class:"middled btn") do %>
              <i class="fa fa-calendar-check iconcolor-nav"></i>
              <span class="text-light fw-bold middled"> 
                EVENTS 
              </span>
            <% end %>
          </li>

          <li class="nav-item ms-3">
            <%= link_to(resultats_path, class:"middled btn") do %>
              <i class="fa fa-square-poll-horizontal iconcolor-nav"></i>
              <span class="text-light fw-bold middled"> 
                RESULTATS 
              </span>
            <% end %>
          </li>


          <li class="nav-item ms-3">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>