<div class="text-defilant">
    <%= link_to scoring_path, class: "no-underline" do %>
        <div>
            <i class="fa-solid fa-xl fa-flag-checkered fa-fade mx-2"></i>
            <span class="fw-bold text-warning">Scoring users </span>
            <% top_5_user_scores.each do |user_data| %>
                <span class="badge rounded bg-dark mx-1">
                    <%= badge_scoring_medal(user_data[:rank]) %>
                    <span class=""><%= user_data[:rank] %></span>
                    <%= image_tag(user_data[:user].webp_variant, class: "mini-profile-pic mx-2", alt: "user picture") %>        
                    <%= user_data[:user].nom %> 
                    <span class="ms-1 text-warning"> <%= number_with_delimiter(user_data[:scoring], delimiter: ' ') %> </span>  
                </span>
            <% end %>

            <span class="fw-bold text-warning ms-4">Scoring pilotes</span>

            <% ranked_pilotes_top_from_db.each do |user| %>
                <span class="badge rounded bg-dark mx-2">
                    <span class=""><%= user[:rank] %></span>
                    <%= image_tag(user[:user].webp_variant, class: "mini-profile-pic mx-2", alt: "user picture") %>        
                    <%= user[:user].nom %> 
                    <%= badge_scoring_medal(user[:rank]) %>
                    <span class="ms-1 text-warning"> <%= number_with_delimiter(user[:score], delimiter: ' ') %> </span>  
                </span>
            <% end %>
        </div>
    <% end %>
</div>

