<div id="<%= dom_id correctif %>">
  
  <div class="d-flex my-1 p-1">

    <span class="mx-1">
      <%= correctif.sens %>
      <%= correctif.base_setup.parametre %>
    </span>

    <%= "Setup: #{correctif.setup_id}" if correctif.setup_id.present? %>
    <%= "Nom: #{correctif.nom}" if correctif.nom.present? %>

      <%#= correctif.probleme.nom %>
      <%#= correctif.probleme_second.nom %>
   
    <%= button_to "", edit_correctif_path(correctif), method: :post, 
          class: "btn btn-sm btn-outline-secondary fa-solid fa-pen-to-square m-1" %>
    <%= button_to "", correctif_path(correctif), method: :delete, 
          class: "btn btn-sm btn-outline-danger fa-solid fa-trash m-1" %>

  </div>

</div>
