<%= form_with(model: correctif) do |form| %>
  <% if correctif.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(correctif.errors.count, "error") %> prohibited this correctif from being saved:</h2>

      <ul>
        <% correctif.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :base_setup_id, style: "display: block" %>
    <%= form.collection_select :base_setup_id, BaseSetup.all, :id, :parametre, { prompt: "Select" }  %>
  </div>

  <div>
    <%= form.label :sens, style: "display: block" %>
    <%= form.select :sens, options_for_select(["", "monter", "descendre"]) %>
  </div>


  <div data-controller="form-element">
    <%= form.button "Validate", formaction: new_correctif_path, formmethod: :get, 
          data: { turbo_frame: :probleme_second_field, form_element_target: "submitbtn" } %>

    <div>
      <%= form.label :problem_id, style: "display: block" %>
      <%= form.collection_select :problem_id, Problem.all, :id, :nom , {include_blank: true}, { data: { action: "change->form-element#remotesubmit"}} %>
    </div>

  </div>

   <%= turbo_frame_tag :problem_second_field do %>
    
    <% problem = form.object.problem_id %>

    <% if problem %>
      <div>
        <%= form.label :problem_second_id, style: "display: block" %>
        <%= form.collection_select :problem_second_id, Problem.find(problem).problem_seconds, :id, :nom %>
      </div>        
    <% end %>

  <% end %>
  

  <div class="my-2">
    <%= form.submit %>
  </div>
<% end %>
