<h4 class="text-center mt-2"> Prochaines courses </h4> <br>
<% @prochains_events.each do |event| %>

    <%= link_to menu_index_path(
        ligue: event.division.saison.ligue_id, 
        saison: event.division.saison_id, 
        division: event.division_id, 
        event: event), class: "no-underline text-dark" do %>

        <div class="record-with-effect">
            <%= image_tag(event.circuit.drapeau, class: "img-fluid rounded me-1", width: "30", height: "25", alt: "drapeau") if event.circuit.drapeau.present? %>
        
            <strong><%= event.division.saison.ligue.nom %> </strong> 
            <strong><%= event.division.nom %> </strong> 

            N°<strong> <%= event.numero %> </strong>
            <strong> <%= event.circuit.short_name %> </strong>
            <%= local_time event.horaire, format: :short %> 

        </div>  
    
    <% end %>
    
<% end %>
