
<h4 class="text-center mt-2">Scoring users</h4> 
<div class="pt-2">

    <% scoring_user[0..4].each do |user_data| %>
        <div class="record-with-effect ps-2">
            <div class="row">
                <div class="col">
                    <%= image_tag(user_data[:user].webp_variant, class: "mini-profile-pic mx-2", alt: "user picture") %>        
                    <%= user_data[:user].nom %> 
                </div>
                <div class="col text-end me-2">
                    <%= user_data[:scoring] %> 
                </div>
            </div>
        </div>
    <% end %>
</div>

<div class="container-fluid">
    <%= link_to  "Voir tous les scores", scoring_path, class: "btn btn-sm btn-primary w-100" %>
</div>

<h4 class="text-center mt-2">Scoring pilotes</h4> 
<div class="pt-2">

    <% scoring_pilote[0..4].each do |user_data| %>
        <div class="record-with-effect ps-2">
            <div class="row">
                <div class="col">
                    <%= image_tag(user_data[:user].webp_variant, class: "mini-profile-pic mx-2", alt: "user picture") %>        
                    <%= user_data[:user].nom %> 
                </div>
                <div class="col text-end me-2">
                    <%= user_data[:scoring] %> 
                </div>
            </div>
        </div>
    <% end %>
</div>

<div class="container-fluid">
    <%= link_to  "Voir tous les scores", scoring_path, class: "btn btn-sm btn-primary w-100" %>
</div>
