
<h4 class="text-center mt-2">Scoring users</h4> 
<div class="pt-2">

    <% scoring_user[0..4].each do |user_data| %>
        <%= link_to user_path(user_data[:user].id), class: "no-underline" do %>
            <div class="record-with-effect ps-2">
                <div class="row">
                    <div class="col-8">
                        <span class="badge p-2 bg-dark"><%= user_data[:rank] %></span>
                        <%= image_tag(user_data[:user].webp_variant, class: "mini-profile-pic mx-2", alt: "user picture") %>        
                        <%= user_data[:user].nom %> 
                    </div>
                    <div class="col-4 text-end">
                        <%= badge_scoring_medal(user_data[:rank]) %>
                        <%= number_with_delimiter(user_data[:scoring], delimiter: ' ') %> 
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>

<h4 class="text-center mt-2">Scoring pilotes</h4> 
<div class="pt-2">

    <% scoring_pilote[0..4].each do |user_data| %>
        <%= link_to user_path(user_data[:user].id), class: "no-underline" do %>
            <div class="record-with-effect ps-2">
                <div class="row">
                    <div class="col-8">
                        <span class="badge p-2 bg-dark"><%= user_data[:rank] %></span>
                        <%= image_tag(user_data[:user].webp_variant, class: "mini-profile-pic mx-2", alt: "user picture") %>        
                        <%= user_data[:user].nom %> 
                    </div>
                    <div class="col-4 text-end">
                        <%= badge_scoring_medal(user_data[:rank]) %>
                        <%= number_with_delimiter(user_data[:scoring], delimiter: ' ') %> 
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>

<div class="container-fluid">
    <%= link_to  "Voir tous les scores", scoring_path, class: "btn btn-sm btn-dark w-100" %>
</div>
