
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<%= stylesheet_link_tag "document" %>

<div id="captureContainer" class="doc-background my-2" style="width: 600px; margin: 0 auto;">

  <body>

    <%= render partial: "documents/entete",  locals: { titre: "Parieurs" } %>
    <%#= tableau data parieurs %>

    <% annee = Time.now.to_date.strftime("%Y") %>

    <% ranked_parieurs(annee).take(20).each do |user| %>
      <div class="d-flex align-items-center justify-content-center my-1">
        <%= badge_score_position(user[:rank]) %>
        <div class="equipe-banner-wrapper d-flex align-items-center bg-secondary text-light fw-bold rounded px-2" style="width: 100%; max-width: 300px;">
       
            <%# reprender voir pourquoi image tag webp donne erreur sur generation pdf %>
         
          <% if User.find(user[:user].id).profile_pic.present? %>
            <%= cl_image_tag(user[:user].default_profile_pic.url, class: "mini-profile-pic me-1") %>
          <% else %>
            <%= image_tag('/images/profile_default.webp', class: "mini-profile-pic me-1") %>
          <% end %>

          <%=  User.find(user[:user].id).nom %>
          <%= icon_leader_parieur(@annee, user[:user].id) %>
          <%= icon_leader_user(user[:user].id) %>
          <%= icon_leader_pilote(user[:user].id) %>
          
        </div>

        <div style="min-width: 80px;">
          <%= badge_score_position( number_to_human(user[:solde_parieur], units: { thousand: 'K', million: 'M', billion: 'B' } )) %>
        </div>

      </div>
    <% end %>


  </body>

  <br><br>

</div>

<div class="d-flex">
  <%#= back_button_on_event(@event.id) %>
  <button class="fa fa-solid fa-image btn btn-success m-1" data-controller="screenshot" 
          data-nom-doc="<%= "parieurs_#{Time.now.to_date.strftime("%d/%m/%Y")}" %>"
          data-action="click->screenshot#capture">
  </button>
</div>