<% title "Home" %>
<% description "Home page with bets, racers, next races and feeds/activities." %>
<% keywords "Home, Races, Feeds, Activites" %>

<div class="d-flex flex-wrap justify-content-center align-items-center mt-4 mb-2">
   <%= link_to menu_index_path, class: "btn btn-sm btn-dark m-1" do %>
      <i class="fa fa-solid fa-xl fa-compass"> </i>
      <span class="ms-2 fw-bold"> Menu</span>
   <% end %>


   <%= link_to "http://store.racemeifyoucan.com", class: "btn btn-sm btn-primary m-1" do %>
      <i class="fa fa-solid fa-xl fa-store"> </i>
      <span class="ms-2 fw-bold"> Shop</span>
   <% end %>

   
   <% if current_user %>

      <%= button_to display_demande_rattachement_home_index_path, class: "btn btn-sm btn btn-warning m-1" do %>
         <i class="fa fa-solid fa-xl fa-people-group"></i>
         <span class="ms-2 fw-bold">Rejoindre ligue</span>
      <% end %>

      <%= button_to display_creer_ligue_home_index_path, class: "btn btn-sm btn btn-primary m-1" do %>
         <i class="fa fa-solid fa-xl fa-people-group"></i>
         <span class="ms-2 fw-bold">Créer ligue</span>
      <% end %>

      <div class="dropdown">
         <button class="btn btn-sm btn-secondary dropdown-toggle m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-solid fa-xl fa-layer-group"></i>
            <span class="ms-2 fw-bold">Mes divisions</span>
         </button>
         <ul class="dropdown-menu dropdown-menu-dark">
            <% divisions_for_current_user.each do |division| %>
            <li> 
               <%= link_to "#{division.saison.ligue.nom} | #{division.saison.nom} | #{division.nom}", 
                        menu_index_path(ligue: division.saison.ligue, saison: division.saison_id, division: division), 
                        class: "dropdown-item" %> 
            </li>
            <% end %>
            <li>
               <%= button_to display_demande_rattachement_home_index_path, class: "dropdown-item text-warning" do %>
                  <i class="fa fa-solid fa-xl fa-people-group"></i>
                  <span class="ms-2 fw-bold">Rejoindre une ligue</span>
               <% end %>
            </li>
            <li>
               <%= button_to display_creer_ligue_home_index_path, class: "dropdown-item text-primary" do %>
                  <i class="fa fa-solid fa-xl fa-people-group"></i>
                  <span class="ms-2 fw-bold">Créer ligue</span>
               <% end %>
            </li>   
         </ul>
      </div>



   <% end %>

   <%= button_to display_parieurs_home_index_path, class: "btn btn-sm btn-success m-1" do %>
      <i class="fa fa-solid fa-xl fa-money-bill-wave"></i>
      <span class="ms-2 fw-bold">Parieurs</span>
   <% end %>

   <%= link_to scoring_path, class: "btn btn-sm btn-warning m-1" do %>
      <i class="fa fa-solid fa-xl fa-medal"></i>
      <span class="ms-2 fw-bold">Scoring</span>
   <% end %>

   <%= link_to users_path, class: "btn btn-sm btn-dark m-1" do %>
      <i class="fa fa-solid fa-xl fa-id-card"></i>
      <span class="ms-2 fw-bold">Users</span>
   <% end %>

   <% if current_user %>
      <%= link_to user_path(current_user, anchor: 'partial-container'), class: "btn btn-sm btn-primary m-1" do %>
         <i class="fa fa-solid fa-xl fa-magnifying-glass-chart"></i>
         <span class="ms-2 fw-bold">Mes stats</span>
      <% end %>

      <%= link_to setup_dashboard_path, class: "btn btn-sm btn-success m-1 fa-bounce" do %>
         <i class="fa fa-solid fa-xl fa-toolbox"></i>
         <span class="ms-2 fw-bold">SetupTool</span>
      <% end %>

      <%= link_to abonnements_path, data: {turbo: "false"}, class: "btn btn-sm btn-outline-danger m-1" do %>
         <i class="fa fa-solid fa-xl fa-heart-circle-bolt"></i>
         <span class="ms-2 fw-bold">Soutenir !</span>
      <% end %>

      <div class="container-fluid my-3 px-4">
         <% if boolean_user_paid_purchase(current_user) %>
            <%= link_to vip_path, class: "btn btn-sm btn-outline-warning mx-1 w-100 fa-fade" do %>
               <i class="fa fa-solid fa-xl fa-crown me-1"></i>
               <span> Accès VIP </span>
            <% end %>
         <% else %>
            <%= link_to abonnements_path, data: {turbo: "false"}, class: "btn btn-sm btn-outline-warning w-100 fa-fade" do %>
               <i class="fa fa-solid fa-xl fa-crown me-1"></i>
               <span> Abonne toi pour l'accès VIP </span>
            <% end %>
            
         <% end %>   
      </div>

   <% end %>

</div>

<div class="d-flex flex-wrap justify-content-center align-items-center">
   <%= render "shared/connexion" %>
</div>

<div class="px-2">
   <h4 class="text-center my-2 mb-3">Leaders</h4> 

   <%= displayed_top_1_parieur(Date.today.year) %>
   <%= displayed_top_1_user %>
   <%= displayed_top_1_pilote %>

</div>

<div class="px-2"> 
   <% if @prochains_events %>
      <%= render "prochains_events" %>
   <% end %>
</div>

<div id="partial-container" class="p-2 mt-2">
   <%# recoit le turbo stream avec elements cliqués %>
</div>



<%# test feeds infinite scroll %>
<h4 class="text-center">Activités</h4> 
<div id="feeds" class="p-2"> </div>

<%= turbo_frame_tag :pagination, loading: :lazy, src: home_index_path(format: :turbo_stream) %>

