<%# feeds infinite scroll pagination %>
<%= turbo_stream.append :feeds do %>
    <% @feeds.each do |feed| %>
      <%#= link_to feed_path(feed), class: "no-underline text-dark" do %>
        <div class="record-with-effect d-flex align-items-center ps-2">
          <%= feed_icon(feed) %> 
          <%= feed_label(feed) %>

          <small class="time-ago ps-2"> <%= time_ago_in_words(feed.updated_at) %> ago </small>
        </div>
      <%# end %>
    <% end %>
<% end %>

<%= turbo_stream.replace :pagination do %>
    <% if @pagy&.next.present? %>
        <%= turbo_frame_tag :pagination, loading: :lazy, 
            src: home_index_path(format: :turbo_stream, page: @pagy.next) %>
    
    <% end %>
<% end %>


