
<div class="d-flex flex-wrap justify-content-center align-items-center mt-4">
   <%= link_to menu_index_path, class: "btn btn-sm btn-dark m-1" do %>
      <i class="fa fa-solid fa-xl fa-compass"> </i>
      <span class="ms-2 fw-bold"> Menu</span>
   <% end %>
   
   <% if current_user %>
      <div class="dropdown">
         <button class="btn btn-sm btn-secondary dropdown-toggle m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-solid fa-xl fa-layer-group"></i>
            <span class="ms-2 fw-bold">Mes divisions</span>
         </button>
         <ul class="dropdown-menu dropdown-menu-dark">
            <% divisions_for_current_user.each do |division| %>
            <li> 
               <%= link_to "#{division.saison.ligue.nom} | #{division.saison.nom} | #{division.nom}", 
                        menu_index_path(ligue: division.saison.ligue, saison: division.saison_id, division: division), 
                        class: "dropdown-item" %> 
            </li>
            <% end %>
            <li>
               <%= button_to display_demande_rattachement_home_index_path, class: "dropdown-item text-warning" do %>
                  <i class="fa fa-solid fa-xl fa-people-group"></i>
                  <span class="ms-2 fw-bold">Rejoindre une ligue</span>
               <% end %>
            </li>
            <li>
               <%= button_to display_creer_ligue_home_index_path, class: "dropdown-item text-primary" do %>
                  <i class="fa fa-solid fa-xl fa-people-group"></i>
                  <span class="ms-2 fw-bold">Créer ligue</span>
               <% end %>
            </li>   
         </ul>
      </div>

      <%= button_to display_demande_rattachement_home_index_path, class: "btn btn-sm btn btn-warning m-1" do %>
         <i class="fa fa-solid fa-xl fa-people-group"></i>
         <span class="ms-2 fw-bold">Rejoindre ligue</span>
      <% end %>

      <%= button_to display_creer_ligue_home_index_path, class: "btn btn-sm btn btn-primary m-1" do %>
         <i class="fa fa-solid fa-xl fa-people-group"></i>
         <span class="ms-2 fw-bold">Créer ligue</span>
      <% end %>

   <% end %>

   <%= button_to display_parieurs_home_index_path, class: "btn btn-sm btn-success m-1" do %>
      <i class="fa fa-solid fa-xl fa-money-bill-wave"></i>
      <span class="ms-2 fw-bold">Parieurs</span>
   <% end %>

   <%= button_to display_pilotes_home_index_path, class: "btn btn-sm btn-dark m-1" do %>
      <i class="fa fa-solid fa-xl fa-id-card"></i>
      <span class="ms-2 fw-bold">Pilotes</span>
   <% end %>
      
</div>

<div class="d-flex flex-wrap justify-content-center align-items-center">
   <%= render "shared/connexion" %>
</div>

<div class="p-2"> 
   <% if @prochains_events %>
      <%= render "prochains_events" %>
   <% end %>
</div>

<div class="d-block flex-wrap justify-content-center align-items-center px-2">   
   <%= button_to display_feeds_home_index_path, class: "w-100 btn btn-xl btn-outline-primary" do %>
      <i class="fa fa-solid fa-xl fa-bell"></i>
      <span class="ms-2 fw-bold">Voir les activités</span>
   <% end %>
</div>

<div id="partial-container" class="p-2">
   <%# recoit le turbo stream avec elements cliqués %>
</div>

