<% title "Home" %>
<% description "Home page with bets, racers, next races and feeds/activities." %>
<% keywords "Home, Races, Feeds, Activites" %>

<div class="d-flex flex-wrap justify-content-center align-items-center mt-4 mb-2">
   <%= link_to menu_index_path, class: "btn btn-sm btn-outline-light m-1" do %>
      <i class="fa fa-solid fa-xl fa-compass"> </i>
      <span class="ms-1 fw-bold"> Menu</span>
   <% end %>

   <%#= link_to "http://shop.racemeifyoucan.com", class: "btn btn-sm btn-primary m-1" do %>
      <!--i class="fa fa-solid fa-xl fa-store"> </i>
      <span class="ms-2 fw-bold"> Shop</span-->
   <%# end %>

   
   <% if current_user %>

      <div class="dropdown">
         <button class="btn btn-sm btn-outline-warning dropdown-toggle m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-solid fa-xl fa-people-group"></i>
            <span class="ms-1 fw-bold">Ligue</span>
         </button>
         <ul class="dropdown-menu dropdown-menu-dark">
            <li>
               <%= button_to display_demande_rattachement_home_index_path, class: "dropdown-item text-warning" do %>
                  <i class="fa fa-solid fa-people-group"></i>
                  <span class="ms-1 fw-bold">Rejoindre ligue</span>
               <% end %>
            </li>
            <li>
               <%= button_to display_creer_ligue_home_index_path, class: "dropdown-item text-primary" do %>
                  <i class="fa fa-solid fa-people-group"></i>
                  <span class="ms-1 fw-bold">Créer ligue</span>
               <% end %>
            </li>   
         </ul>
      </div>

      <div class="dropdown">
         <button class="btn btn-sm btn-outline-secondary dropdown-toggle m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-solid fa-xl fa-layer-group"></i>
            <span class="ms-1 fw-bold">Mes div.</span>
         </button>
         <ul class="dropdown-menu dropdown-menu-dark">
            <% divisions_for_current_user.each do |division| %>
            <li> 
               <%= link_to "#{division.saison.ligue.nom} | #{division.saison.nom} | #{division.nom}", 
                        menu_index_path(ligue: division.saison.ligue, saison: division.saison_id, division: division), 
                        class: "dropdown-item" %> 
            </li>
            <% end %>
            <li>
               <%= button_to display_demande_rattachement_home_index_path, class: "dropdown-item text-warning" do %>
                  <i class="fa fa-solid fa-people-group"></i>
                  <span class="ms-1 fw-bold">Rejoindre ligue</span>
               <% end %>
            </li>
            <li>
               <%= button_to display_creer_ligue_home_index_path, class: "dropdown-item text-primary" do %>
                  <i class="fa fa-solid fa-people-group"></i>
                  <span class="ms-1 fw-bold">Créer ligue</span>
               <% end %>
            </li>   
         </ul>
      </div>

   <% end %>

   <div class="dropdown">
      <button class="btn btn-sm btn-outline-light dropdown-toggle m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
         <i class="fa fa-solid fa-xl fa-users"></i>
         <span class="ms-1 fw-bold">Users</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-dark">
         <li> 
            <%= link_to users_path, class: "dropdown-item text-light m-1" do %>
               <i class="fa fa-solid fa-id-card"></i>
               <span class="ms-1 fw-bold">Profiles</span>
            <% end %>
         </li>    
         <li> 
            <%= link_to parieurs_path, class: "dropdown-item text-success m-1" do %>
               <i class="fa fa-solid fa-money-bill-wave"></i>
               <span class="ms-1 fw-bold">Parieurs</span>
            <% end %>
         </li>
         <li> 
            <%= link_to scoring_path, class: "dropdown-item text-warning m-1" do %>
               <i class="fa fa-solid fa-medal"></i>
               <span class="ms-1 fw-bold">Scoring</span>
            <% end %>
         </li>        
      </ul>
   </div>

   <% if current_user %>
      <%= link_to user_path(current_user, anchor: 'partial-container'), class: "btn btn-sm btn-outline-primary m-1" do %>
         <i class="fa fa-solid fa-xl fa-magnifying-glass-chart"></i>
         <span class="ms-1 fw-bold">Stats</span>
      <% end %>

      <%= link_to setup_dashboard_path, class: "btn btn-sm btn-outline-success m-1 fa-fade" do %>
         <i class="fa fa-solid fa-xl fa-screwdriver-wrench"></i>
         <span class="ms-1 fw-bold">Setup</span>
      <% end %>

      <%= link_to abonnements_path, data: {turbo: "false"}, class: "btn btn-sm btn-outline-danger m-1" do %>
         <i class="fa fa-solid fa-xl fa-heart-circle-bolt"></i>
      <% end %>

   <% end %>

</div>

<div class="d-flex flex-wrap justify-content-center align-items-center">
   <%= render "shared/connexion" %>
</div>


<%# afficher link to menu event de la prochaine course du current_user %>
<div class="container text-center my-2">
   <%= user_prochaine_course(current_user) %>
</div>
   

<hr>

<%= render 'landingpage/counters' %>

<div class="px-2">
   <h4 class="text-center my-3">Leaders</h4> 

   <%= displayed_top_1_parieur(Date.today.year) %>
   <%= displayed_top_1_user %>
   <%= displayed_top_1_pilote %>

</div>

<div class="px-2"> 
   <% if @prochains_events %>
      <%= render "prochains_events" %>
   <% end %>
</div>

<div id="partial-container" class="p-2 mt-2">
   <%# recoit le turbo stream avec elements cliqués %>
</div>


<%# test feeds infinite scroll %>
<h4 class="text-center">Activités</h4> 
<div id="feeds" class="p-2"> </div>

<%= turbo_frame_tag :pagination, loading: :lazy, src: home_index_path(format: :turbo_stream) %>

