
<h4 class="text-center mt-2">Scoring users</h4> 

<div class="px-2"> 
    <div class="container text-center rounded bg-dark p-2 my-4">
        Le scoring users met en avant ceux qui participent le plus sur l'app, par tous les moyens, 
        notamment en faisant des paris et des votes DOTD, ou encore en éditant les infos sur ton profil !
    </div>

    <div class="scrollable-paragraph">

        <% scoring_user.each do |user_data| %>
            <%= link_to user_path(user_data[:user]), class: "no-underline" do %>
                <div class="record-with-effect ps-2">
                    <div class="row">
                        <div class="col-8">
                            <span class="badge p-2 bg-dark"><%= user_data[:rank] %></span>
                            <%= image_tag(user_data[:user].webp_variant, class: "mini-profile-pic mx-2", alt: "user picture") %>        
                            <%= truncate(user_data[:user].short_name) %>
                            <a class="ms-2" data-bs-toggle="collapse" href="#collapseDetailsScoringUser<%= user_data[:user].id %>" role="button" aria-expanded="false">
                                <i class="fa fa-xl fa-square-plus text-warning"></i>
                            </a>

                            <%# test score task stored in db with update %>
                            <div class="container bg-success">
                                <%#= user_data[:user].scores.sum(:action_count) %>
                                verif helper edit profile: <%= scoring_edit_profile(user_data[:user]) %> <br>
                                verif db edit profile: <%= user_data[:user].edit_profile_score %>

                            </div>



                        </div>
                        <div class="col-4 text-end">
                            <%= badge_scoring_medal(user_data[:rank]) %>
                            <%= number_with_delimiter(user_data[:scoring], delimiter: ' ') %> 
                        </div>

                        <div class="collapse" id="collapseDetailsScoringUser<%= user_data[:user].id %>"> 
                            <hr>
                            <span class="badge bg-dark"> score paris: <%= user_data[:score_paris] %>  </span>
                            <span class="badge bg-dark"> score dotds: <%= user_data[:score_dotds] %>  </span>
                            <span class="badge bg-dark"> score activités sur app: <%= user_data[:user].action_count %>  </span>
                            <span class="badge bg-dark"> score edit profile: <%= user_data[:score_edit_profile] %>  </span>

                        </div>
                        
                    </div>
                </div>
            <% end %>    
        <% end %>
    </div>
</div>

<hr>

<h4 class="text-center mt-2">Scoring pilotes</h4> 

<div class="px-2"> 
    <div class="container text-center rounded bg-dark p-4 my-4">
        Le scoring pilotes met en avant les pilotes qui ont les meilleurs résultats en course, 
        avec des malus pour les DNF, DNS et DOI responsable !
    </div>

    <div class="scrollable-paragraph">

        <% scoring_pilote.each do |user_data| %>
            <%= link_to user_path(user_data[:user]), class: "no-underline" do %>
                <div class="record-with-effect ps-2">
                    <div class="row">
                        <div class="col-8">
                            <span class="badge p-2 bg-dark"><%= user_data[:rank] %></span>
                            <%= image_tag(user_data[:user].webp_variant, class: "mini-profile-pic mx-2", alt: "user picture") %>        
                            <%= truncate(user_data[:user].nom, lenght: 10) %>
                            <a class="ms-2" data-bs-toggle="collapse" href="#collapseDetailsScoringPilote<%= user_data[:user].id %>" role="button" aria-expanded="false">
                                <i class="fa fa-xl fa-square-plus text-warning"></i>
                            </a>
                        </div>
                        <div class="col-4 text-end">
                            <%= badge_scoring_medal(user_data[:rank]) %>
                            <%= number_with_delimiter(user_data[:scoring], delimiter: ' ') %> 
                        </div>
                        <div class="collapse" id="collapseDetailsScoringPilote<%= user_data[:user].id %>"> 
                            <hr>
                            <span class="badge bg-dark"> score victoire: <%= user_data[:score_victoire] %>  </span>
                            <span class="badge bg-dark"> score podium: <%= user_data[:score_podium] %>  </span>
                            <span class="badge bg-dark"> score top10: <%= user_data[:score_top10] %>  </span>
                            <span class="badge bg-dark"> score nb courses: <%= user_data[:score_nb_courses] %>  </span>
                            <span class="badge bg-dark"> score nb courses malus: <%= user_data[:score_malus_nb_courses] %>  </span>
                            <span class="badge bg-dark"> score sum points: <%= user_data[:score_sum_points] %>  </span>
                            <span class="badge bg-dark"> score dnf: <%= user_data[:score_dnf] %>  </span>
                            <span class="badge bg-dark"> score dns: <%= user_data[:score_dns] %>  </span>
                            <span class="badge bg-dark"> score doi: <%= user_data[:score_doi] %>  </span>

                        </div>
                    </div>
                </div>
            <% end %>    
        <% end %>
    </div>
</div>


