  <%= form_with(model: parametre_setup) do |form| %>
    <% if parametre_setup.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(parametre_setup.errors.count, "error") %> prohibited this parametre_setup from being saved:</h2>

        <ul>
          <% parametre_setup.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <% if parametre_setup.persisted? %>
        <%= form.hidden_field :setup_id %> 
      <% else %>
        <%= form.hidden_field :setup_id, value: session[:setup] %> 
      <% end %>

      <%#= form.label :base_setup_id, style: "display: block" %>
      <%#= form.collection_select :base_setup_id, BaseSetup.all, :id, :parametre %>
      <%= form.hidden_field :base_setup_id %>


    <div class="container-fluid row m-0 px-2 mt-1">
      <div class="col-8 m-0 p-1">
        <%= form.range_field :val_parametre, class: 'form-control-range fixed-width-slider', 
          data: { controller: 'parametre-setup', parametre_id: parametre_setup.id },
          min: parametre_setup.base_setup.val_min, 
          max: parametre_setup.base_setup.val_max,
          step: parametre_setup.format_step,
          value: parametre_setup.formatted_val %>
      </div>
      <div class="col-2 p-0">
        <span class="badge bg-primary" id="rangeval_<%= parametre_setup.id %>"><%= parametre_setup.formatted_val %></span>
      </div>
      <div class="col-2 text-center">
        <%= custom_submit_button_icon_only %>
      </div>
    </div>





  <% end %>
