
<div id="<%= dom_id parametre_setup %>">

    <div class="row text-light align-items-center p-0 m-1
     rounded <%= parametre_setup.filled ? 'bg-success' : 'bg-danger'%>">
      <div class="col-10">
        <%= parametre_setup.base_setup.parametre %>
        <%= parametre_setup.val_parametre %>      
      </div>
      <div class="col-2 text-end ">
        <%= button_to edit_parametre_setup_path(parametre_setup), method: :post, 
              class: "btn btn-sm p-0" do %>
          <i class= "fa fa-xl fa-pen-square ms-1 text-light"></i>
        <% end %>  
      </div>
    </div>

      <%#= button_to parametre_setup_path(parametre_setup), method: :delete, class: "btn btn-sm" do %>
        <!--i class= "fa fa-xl fa-trash-can ms-1 text-danger"></i-->
      <%# end %> 

</div>

