<div id="<%= dom_id parametre_setup %>">
  <p>
    <strong>Setup:</strong>
    <%= parametre_setup.setup_id %>
  </p>

  <p>
    <strong>Base setup:</strong>
    <%= parametre_setup.base_setup_id %>
  </p>

  <p>
    <strong>Val parametre:</strong>
    <%= parametre_setup.val_parametre %>
  </p>

  <p>
    <strong>Filled:</strong>
    <%= parametre_setup.filled %>
  </p>

</div>
