
<div id="<%= dom_id event %>">

  <div class="card record-with-effect">  
    <div class="row p-1">
      <div class="col">
        <%= image_tag(event.circuit.drapeau, class: "img-fluid rounded me-1", width: "35") if event.circuit.drapeau.present? %>

        N°<strong> <%= event.numero %> </strong>
        <strong> <%= event.circuit.nom %> </strong>
        <%= event.horaire.strftime('%d %b %Y - %Hh%M') %> 


        <% @data = weather_data(event.circuit.latitude, event.circuit.longitude) %>
        <%= render  "circuits/meteo", locals: {data: @data} %>

      </div>

      <% if @show_buttons && current_user && verif_admin_ligue(current_user, event.division.saison.ligue) %>

        <div class="col d-flex justify-content-end align-items-center">
          <button class="btn btn-sm btn-primary fa-solid fa-eye m-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDetailsEvent" aria-expanded="false">
          </button>

          <%= button_to "", edit_event_path(event), method: :post, 
              class: "btn btn-sm btn-secondary fa-solid fa-pen-to-square m-1" %>
          <%= button_to "", event, method: :delete, 
              class: "btn btn-sm btn-danger fa-solid fa-trash m-1",
              data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
            
        </div>
      <% end %>        
    </div>

    <div class="collapse" id="collapseDetailsEvent">
      more content
    </div>

</div>
