<div id="<%= dom_id event %>">
  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Horaire:</strong>
    <%= event.horaire %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= event.numero %>
  </p>

  <p>
    <strong>Circuit:</strong>
    <%= event.circuit_id %>
  </p>

  <p>
    <strong>Saison:</strong>
    <%= event.saison_id %>
  </p>

  <p>
    <strong>Division:</strong>
    <%= event.division_id %>
  </p>

  <p>
    <strong>Ligue:</strong>
    <%= event.ligue_id %>
  </p>

</div>
