

<div class="p-2 m-0">
  <% if @paris.present? %>

    <div class="container rounded p-2 text-center mb-2" style="background-color: rgba(255, 255, 255, 0.2);">
        <i class="mx-1 fa fa-xl fa-money-bill-wave"></i>

          
          <span class="fw-bold mx-1">  Paris </span>

          <span>  nb: </span>
          <span data-controller="counter" data-target-value="<%= @nb_paris %>"></span>

          <span class="ms-2">  mises: </span>
          <span data-controller="counter" data-target-value="<%= @sum_paris %>"></span>

          <hr class="my-2">

          <%= user_badge_with_infos(@pari_with_biggest_solde.user, "meilleur gain", @pari_with_biggest_solde.solde) %>
          <%= user_badge_with_infos(@pari_with_highest_cote.user, "meilleure cote", @pari_with_highest_cote.cote) %>

    </div>

  <% end %>

  <% if @nb_dotds.present? %>

    <div class="container rounded p-2 text-center mb-2" style="background-color: rgba(255, 255, 255, 0.2);">
      <i class="mx-1 fa fa-xl fa-star"></i>

      <span class="fw-bold mx-1">  DOTD </span>

      <span>  nb: </span>
      <span data-controller="counter" data-target-value="<%= @nb_dotds %>"></span>

      <hr class="my-2">

      <%= user_badge_with_infos(@association_user_with_most_votes.association_user.user, "nb votes", @nb_votes_association_user_dotd.count ) %>

    </div>

  <% end %>

  <% if @dois.present? %>

    <div class="container rounded p-2 text-center mb-2" style="background-color: rgba(255, 255, 255, 0.2);">
      <i class="mx-1 fa fa-xl fa-magnifying-glass"></i>

      <span class="fw-bold mx-1">  DOI </span>

      <span>  nb: </span>
      <span data-controller="counter" data-target-value="<%= @dois.count %>"></span>

      <hr class="my-2">

      <%= user_badge_with_infos(AssociationUser.find(@most_common_implique_id).user, "nb DOI", @implique_id_counts[@most_common_implique_id] ) %>

    </div>

  <% end %>

  <% if @resultat_with_biggest_delta.present? %>

    <div class="container rounded p-2 text-center mb-2" style="background-color: rgba(255, 255, 255, 0.2);">
      <i class="mx-1 fa fa-xl fa-flag-checkered"></i>

      <span class="fw-bold mx-1">  Meilleure remontée </span>

      <hr class="my-2">

      <%= user_badge_with_infos(@resultat_with_biggest_delta.association_user.user, "delta qualif. course", @resultat_with_biggest_delta.qualification.to_i - @resultat_with_biggest_delta.course.to_i ) %>

    </div>
  
  <% end %>
  
</div>



