
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<%= stylesheet_link_tag "document" %>

<div id="captureContainer" class="doc-background my-2" 
     style="width: 600px; margin: 0 auto; background-image: url('images/stats_bg.webp');">

  <body>

    <table width="540" style="margin-left:auto;margin-right:auto">

        <tr>
            <td class="">
                <h2 class="doc-titre text-light">

                    <% if @event %>
                        <%= cl_image_tag(@event.division.saison.ligue.logo.url, 
                            :class => "position-relative rounded m-0 p-0 img-fluid",
                            :style => "width: 80px; height: auto; display: block;") if @event.division.saison.ligue.logo.present? %>
                    <% end %>
                    
                   Stats Course
                </h2>
            </td>
            <td class="text-end">  
                <h6 class="doc-sous-titre text-light">  

                    <% if @event %>

                        <%= @event.division.saison.nom %>
                        <%= @event.division.nom %> - 
                        GP <%= @event.numero %> <br>

                        <%= Circuit.find(@event.circuit_id).pays %> 
                        
                        <%= cl_image_tag(Circuit.find(@event.circuit_id).drapeau.url, 
                            style: "width: 40px; height: 30px; display: inline", 
                            class: "img-fluid rounded") %>
                    <% else %>
                        <%= Time.now.to_date.strftime("%d/%m/%Y") %>
                    <% end %>
                    
                </h6>
            </td>
        </tr>
    </table>

    <%#= tableau data resultats %>
        
  <div class="overlay-content">

    <div class="p-2 m-0">

    <%#= alignement vertical dans entete paris icon etc 
      et idems avec les autres
     %>

      <% if @paris.present? %>

        <div class="row p-2">
          <div class="col rounded p-2 m-2" style="background-color: rgba(0, 0, 0, 0.6);">

            <div class="container text-light text-center">
              <i class="mx-1 fa fa-2xl fa-money-bill-wave text-success"></i>
              <span class="fw-bold fs-2 mx-1">  Paris </span> 
              <span class="fs-5"> nb: </span>
              <span class="fs-5 fw-bold"> <%= @nb_paris %> </span>
              <span class="ms-3 fs-5">  mises: </span>
              <span class="fs-5 fw-bold"><%= number_to_human(@sum_paris, units: { thousand: 'K', million: 'M', billion: 'B' })  %> </span>
              <hr>   
              

              <div class="container w-75 mt-2">
                <%= user_badge_with_infos_document(@pari_with_biggest_solde.user, "meilleur gain", @pari_with_biggest_solde.solde) %>
              </div>
            </div>


          </div>



        </div>

        <div class="row">
        

          
        </div>




      <% end %>


      <% if @paris.present? %>

        <div class="container rounded p-2 text-center mb-2" style="background-color: rgba(255, 255, 255, 0.2);">
            <i class="mx-1 fa fa-xl fa-money-bill-wave"></i>

            <span class="fw-bold mx-1">  Paris </span>

            <span>  nb: </span>
            <span class=""><%= @nb_paris %> </span>

            <span class="ms-2">  mises: </span>
            <span class=""><%= @sum_paris %> </span>

            <hr class="my-2">

            <%= user_badge_with_infos_document(@pari_with_biggest_solde.user, "meilleur gain", @pari_with_biggest_solde.solde) %>

        </div>

      <% end %>

      <% if @nb_dotds.present? %>

        <div class="container rounded p-2 text-center mb-2" style="background-color: rgba(255, 255, 255, 0.2);">
          <i class="mx-1 fa fa-xl fa-star"></i>

          <span class="fw-bold mx-1">  DOTD </span>

          <span>  nb: </span>
          <span class=""><%= @nb_dotds %> </span>

          <hr class="my-2">

          <%= user_badge_with_infos_document(@association_user_with_most_votes.association_user.user, "nb votes", @nb_votes_association_user_dotd.count ) %>

        </div>

      <% end %>

      <% if @dois.present? %>

        <div class="container rounded p-2 text-center mb-2" style="background-color: rgba(255, 255, 255, 0.2);">
          <i class="mx-1 fa fa-xl fa-magnifying-glass"></i>

          <span class="fw-bold mx-1">  DOI </span>

          <span>  nb: </span>
          <span class=""><%= @dois.count %> </span>

          <hr class="my-2">

          <%= user_badge_with_infos_document(AssociationUser.find(@most_common_implique_id).user, "nb DOI", @implique_id_counts[@most_common_implique_id] ) %>

        </div>

      <% end %>

      <% if @resultat_with_biggest_delta.present? %>

        <div class="container rounded p-2 text-center mb-2" style="background-color: rgba(255, 255, 255, 0.2);">
          <i class="mx-1 fa fa-xl fa-flag-checkered"></i>

          <span class="fw-bold mx-1">  Meilleure remontée </span>

          <hr class="my-2">

          <%= user_badge_with_infos_document(@resultat_with_biggest_delta.association_user.user, "delta qualif. course", @resultat_with_biggest_delta.qualification.to_i - @resultat_with_biggest_delta.course.to_i ) %>

        </div>
      
      <% end %>
    

    </div>


  </div>

    <%= image_tag("/images/brandlogo.webp", width: 300, class: "p-2") %>

  </body>

  <br><br>

</div>


<div class="d-flex">
  <%= back_button_on_event(@event.id) %>
  <button class="fa fa-solid fa-image btn btn-success m-1" data-controller="screenshot" 
          data-nom-doc="<%= @event.nom_doc("stats") %>" 
          data-action="click->screenshot#capture">
  </button>
</div>