    
<div class="container container-titre">
  <div class="row">
    <div class="col-2 icon-titre">
      <i class="fa fa-calendar-check"></i>
    </div>
    <div class="col-8 d-flex align-items-center">
      <h1>Events</h1>
    </div>
    <div class="col-2 d-flex align-items-center">
    </div>
  </div>
</div>

<%= render "choix_event/choix_ligue" %>
<%= render "choix_event/choix_saison" %>
<%= render "choix_event/choix_division" %>

<% if @divisionId.present? %>

  <div data-controller="newrecord" data-action="turbo:submit-end->newrecord#submitEnd">

    <div id="events">
      <%= render @events %>
    </div>

    <div class="container text-end">
      <div role="button" data-action="click->newrecord#openDropdown" 
        data-newrecord-target="openButton" 
        class="fa-solid fa-add btn btn-warning btn-action">
      </div>
      <div role="button" data-action="click->newrecord#closeDropdown" 
        data-newrecord-target="closeButton" 
        class="fa-solid fa-close btn btn-danger btn-action">
      </div>
    </div>
    <div data-newrecord-target="newrecordContent">
      <div id="new_event">
        <%= render partial: "events/form", locals: {event: Event.new} %>
      </div>
    </div>

  </div>
<% end %>
