<h1>Setup Dashboard</h1>


<div class="card bg-dark my-2 p-2">
    <div class="grid text-center">
        <%= menus_admin_links %> <br>   
    </div>
</div>

<div class="card bg-dark">    
    <div class="d-flex justify-content-evenly m-2">

        <%= link_to "setups", setups_path, class: "btn btn-primary w-25 mx-1" %>   

        <button class="btn btn-success w-25" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_correcteur" aria-expanded="false">
            <span> correcteur</span>
        </button>

        <%= link_to "Image 3D", model3d_path, class: "btn btn-warning w-25 mx-1" %>
    </div>
</div>
        
<div class="collapse" id="collapse_correcteur">

    <div class="card bg-dark">
        correcteur
        <%= render  "correcteur" %>

    </div>
</div>


<%= link_to 'Go to Root', root_path %>

