<h1 class="text-center m-2">SetupTool</h1>

<div class="p-1 mt-2">

    <% if current_user && current_user.admin %>
        <div class="card bg-dark my-2 p-2">
            <div class="grid text-center">
                <%= menus_admin_links %> <br>   
            </div>
        </div>
    <% end %>

    <div class="card bg-dark text-center p-2">
       Le SetupTool, ton allié pour comprendre et améliorer ton setup ! <br class="my-1">
        Analyse l'imapct de chaque changement, optimise grâce au correcteur !
    </div>

    <div class="card bg-dark my-2 p-1">    
        <div class="d-flex justify-content-evenly align-items-center m-1">

            <%= link_to "setups", setups_path, class: "btn btn-sm btn-outline-primary mx-1" %>   

            <button class="btn btn-sm btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_correcteur" aria-expanded="false">
                <span> correcteur</span>
            </button>

            <%= link_to "image 3D", model3d_path, class: "btn btn-sm btn-outline-warning mx-1" %>
        </div>
    </div>
            
    <div class="collapse my-1" id="collapse_correcteur">

        <div class="card bg-dark">
            <%= render "correcteur" %>
        </div>
    </div>

    <div class="my-3 d-flex justify-content-center align-items-center">
        <%= back_button_root %>
        <%= link_to abonnements_path, data: {turbo: "false"}, class: "btn btn-sm btn-outline-danger m-1" do %>
           <i class="fa fa-solid fa-xl fa-heart-circle-bolt"></i>
        <% end %>
    </div>


</div>