<%= form_with(model: pilote) do |form| %>
  <% if pilote.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pilote.errors.count, "error") %> prohibited this pilote from being saved:</h2>

      <ul>
        <% pilote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="cadre-record">

    <div class="row">
      <div class="col-10 col-data mx-auto">
        <div class="input-group">
          <%= form.label :nom, class:"input-group-text label-with-format" %>
          <%= form.text_field :nom, required: true, class:"form-control field-with-format" %>
        </div>
      </div>

<div class="col-2 col-btn">
  <%= form_for pilote do |o| %>
    <%= hidden_field_tag(:divisionId, params[:divisionId]) %>
    <%= o.button "", class: "btn btn-valider" do %>
      <span><i class="fa fa-solid fa-square-check"></i></span>
    <% end %>
  <% end %>
</div>


<%
=begin%>
       <div class="col-2 col-btn">
        <button type="submit" class="btn btn-valider">
          <span><i class="fa-solid fa-square-check"></i> </span>
        </button>
      </div>
    </div> 
<%
=end%>

  </div>
<% end %>
