<p style="color: green"><%= notice %></p>

<%= render @pilote %>

<div>
  <%= link_to "Edit this pilote", edit_pilote_path(@pilote) %> |
  <%= link_to "Back to pilotes", pilotes_path %>

  <%= button_to "Destroy this pilote", @pilote, method: :delete %>
</div>
