<div id="<%= dom_id base_setup %>">

  <div class="d-flex align-items-center">

      <%= base_setup.parametre %>

    <span class="mx-1">  
      <strong>min:</strong>
      <%= base_setup.formatted_val_min %>
    </span>

    <span class="mx-1">
      <strong>max:</strong>
      <%= base_setup.formatted_val_max %>
    </span>

    <%= button_to "", edit_base_setup_path(base_setup), method: :post, 
          class: "btn btn-sm btn-outline-secondary fa-solid fa-pen-to-square m-1" %>
    <%= button_to "", base_setup_path(base_setup), method: :delete, 
          class: "btn btn-sm btn-outline-danger fa-solid fa-trash m-1" %>

  </div>

</div>
