<div id="<%= dom_id base_setup %>">
  <p>
    <strong>Parametre:</strong>
    <%= base_setup.parametre %>
  </p>

  <p>
    <strong>Val min:</strong>
    <%= base_setup.val_min %>
  </p>

  <p>
    <strong>Val max:</strong>
    <%= base_setup.val_max %>
  </p>

  <p>
    <strong>Explication:</strong>
    <%= base_setup.explication %>
  </p>

</div>
