<%= form_with(model: base_setup) do |form| %>
  <% if base_setup.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(base_setup.errors.count, "error") %> prohibited this base_setup from being saved:</h2>

      <ul>
        <% base_setup.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :game_id, style: "display: block" %>
    <%= form.collection_select :game_id, Game.all, :id, :nom %>
  </div>

  <div>
    <%= form.label :categorie_parametre_id, style: "display: block" %>
    <%= form.collection_select :categorie_parametre_id, CategorieParametre.all, :id, :val_categorie %>
  </div>


  <div>
    <%= form.label :parametre, style: "display: block" %>
    <%= form.text_field :parametre %>
  </div>


  <div>
    <%= form.label :explication, style: "display: block" %>
    <%= form.text_area :explication %>
  </div>

  <div>
    <%= form.label :val_min, style: "display: block" %>
    <%= form.text_field :val_min %>
  </div>

  <div>
    <%= form.label :val_max, style: "display: block" %>
    <%= form.text_field :val_max %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
