<p style="color: green"><%= notice %></p>

<div class="p-2">

  <h1>
    Base setups
    <button class="btn btn-sm btn-warning m-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNewBaseSetup" aria-expanded="false">
      <i class="fa-solid fa-square-plus fa-xl"></i>
    </button>
  </h1>

  <div class="collapse" id="collapseNewBaseSetup">
    <div id="new_base_setup">
      <%= render partial: "base_setups/form", locals: { base_setup: BaseSetup.new } %>
    </div>
  </div>

  <div class="card my-2"> 
    <div class="d-flex"> 
      select a game :
      <% Game.all.each do |game| %>
        <%= link_to game.nom, url_for(game: game), class: "btn btn-primary m-1" %>
      <% end %>
    </div>
    
  </div>


  <div class="container-fluid d-flex">
    <% if params[:game] %>
      <div id="base_setups" class="row">
        <% @base_setups.where(game_id: params[:game]).group_by(&:categorie_parametre).each do |categorie, base_setups| %>
          <div class="col-md-6"> <!-- Adjust the column size as needed -->
            <div class="card my-2 p-2">
              <h3><%= categorie.val_categorie %></h3>
              <% base_setups.each do |base_setup| %>
                <%= render base_setup %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

      
</div>


<div class="my-3">
    <%= back_button_setup_dashboard %>
    <%= back_button_root %>
</div>
