<div id="<%= dom_id ligue %>">

  <div class="cadre-record">
    <div data-controller="dropdown" data-action="turbo:submit-end->dropdown#submitEnd">
      <div class="row">
        <div class="col-8 col-data">
          <div class="row"> 
            <div class="col-2">
              <%= image_tag(ligue.icon, class:"img-drapeau") if ligue.icon.attached? %>
            </div>
            <div class="col-10">
              <%= ligue.nom %>  
            </div>
          </div>

          <div data-dropdown-target="dropdownContent">
            <%= ligue.description %>  <br>  
          </div>

        </div>

        <div class="col-4 col-btn">  

          <div role="button" data-action="click->dropdown#openDropdown" 
            data-dropdown-target="openButton" 
            class="fa-solid fa-eye btn btn-outline-primary btn-action">
          </div>
          <div role="button" data-action="click->dropdown#closeDropdown" 
            data-dropdown-target="closeButton", class="fa-solid fa-eye-slash btn btn-outline-primary btn-action">
          </div>

          <%= link_to "", ligue_path(ligue), 
                class:"fa-solid fa-square-arrow-up-right btn btn-success btn-action" %>

          <%= button_to "", edit_ligue_path(ligue), 
                class:"fa-regular fa-pen-to-square btn btn-secondary btn-action", method: :post %> 
          <%= button_to '', ligue_path(ligue), 
                class:"fa-solid fa-trash-can btn btn-danger btn-action", method: :delete,
                :onclick => "return confirm('Etes-vous certain de vouloir supprimer la ligue ?')" %> 
        </div>
      </div>
    </div>
  </div>
</div>
