<p style="color: green"><%= notice %></p>

<%= render @comportement_base_setup %>

<div>
  <%= link_to "Edit this comportement base setup", edit_comportement_base_setup_path(@comportement_base_setup) %> |
  <%= link_to "Back to comportement base setups", comportement_base_setups_path %>

  <%= button_to "Destroy this comportement base setup", @comportement_base_setup, method: :delete %>
</div>
