
  <div class="my-2">
    <h2 class="text-center fw-bold my-2">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="container p-4"> 

        <div class="input-group mb-2">
          <%= f.label :email, class:"input-group-text label-with-format label-colored" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control input-colored" %>
        </div>

        <div class="input-group mb-2">
          <%= f.label :nom, "Pseudo", class: "input-group-text label-with-format label-colored" %>
          <%= f.text_field :nom, class:"form-control input-colored" %>
        </div>

        <div class="input-group input-group mb-2">
          <%= f.label :profile_pic, class: "input-group-text label-colored" %>
          <%= f.file_field :profile_pic, accept: "image/jpeg, image/png", class: "form-control input-colored"%>
        </div>

        <div class="input-group mb-2">
          <%= f.label :controlleur, class:"input-group-text label-with-format label-colored" %>
          <%= f.select :controlleur_type, ['volant', 'manette'], {include_blank: true}, class: "form-select input-colored" %>
        </div>
        <div class="input-group mb-2">
          <%= f.label :slogan, class:"input-group-text label-with-format label-colored" %>
          <%= f.text_area :slogan, class:"form-control input-colored" %>
        </div>
        <div class="input-group mb-2">
          <%= f.label :bio, class:"input-group-text label-with-format label-colored" %>
          <%= f.text_area :bio, class:"form-control input-colored" %>
        </div>
        <div class="input-group mb-2">
          <%= f.label :pilote_prefere, class:"input-group-text label-with-format label-colored" %>
          <%= f.text_field :pilote_prefere, class:"form-control input-colored" %>
        </div>

        <hr>  
        
        <div class="input-group mb-2">
          <%= f.label :password, class:"input-group-text label-with-format label-colored" %>
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control input-colored" %>
        </div>

        <div class="input-group mb-2">
          <%= f.label :confirmation, class:"input-group-text label-with-format label-colored" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control input-colored" %>
        </div>

        <button type="submit" class="btn btn-primary container-fluid my-4">
          <i class="fa-solid fa-xl fa-square-check"></i> 
          <span class="fw-bold ms-2"> SIGN UP</span>
        </button>

        <div class="text-light fw-bold text-center">
          <small>you already have an account ?</small>
          <%= link_to "Log in", new_session_path(resource_name) %><br />
        </div>
  
      </div>
    <% end %>

</div>