
<div id="<%= dom_id saison %>">

  <div class="card px-2 my-1">  

    <div class="row align-items-center">
      <div class="col-6">
        <%= link_to "#collapseDetailsSaison", class: "no-underline", "data-bs-toggle" => "collapse", "data-bs-target" => "#collapseDetailsSaison", "aria-expanded" => "false" do %>
           Nom:  <strong> <%= saison.nom %> </strong>
        <% end %>
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center">

        <button class="btn btn-sm btn-primary fa-solid fa-eye m-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDetailsSaison" aria-expanded="false">
        </button>

        <% if current_user && verif_admin_ligue(current_user, saison.ligue) %>
          <%= button_to "", edit_saison_path(saison), method: :post, 
                class: "btn btn-sm btn-secondary fa-solid fa-pen-to-square m-1" %>
          <%= button_to "", saison, method: :delete, 
                class: "btn btn-sm btn-danger fa-solid fa-trash m-1",
                data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
  
        <% end %>
            
      </div>
    </div>

    <div class="collapse" id="collapseDetailsSaison">
      more content
    </div>

  </div>
</div>
