
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<%= stylesheet_link_tag "document" %>

<div id="captureContainer" class="doc-background my-2" style="width: 600px; margin: 0 auto;">
 
  <body>

    <%= render partial: "documents/entete",  locals: { titre: "Synth. Licences" } %>

    <%#= tableau data class pilotes %>
        
    <table style="margin-left:auto;margin-right:auto">

      <thead class="text-center">
        <tr>
          <th></th>
          <th class="text-danger">Perte</th>
          <th class="text-success">Gain</th>
          <th>Solde</th>
        </tr>
      </thead>

      <tbody>
        <% cumul_licence_equipe(@event).each do |equipe| %>

          <%# equipe_nom = Equipe.find(equipe[:equipe_id]).equipe_id %>
          <% equipe_courante = Equipe.find(equipe[:equipe_id]) %>
          <tr>

            <td>
              <div class="img-banniere-doc">
                <%= equipe_banner_with_data_document(equipe_courante, equipe_courante.nom) %> 
              </div>  
            </td>
 
            <td>
              <div class="col_pos_new rounded d-flex align-items-center justify-content-center text-danger">
                <%= equipe[:perte_total] %> 
              </div>
            </td>
            <td>
              <div class="col_pos_new rounded d-flex align-items-center justify-content-center text-success">
                <%= equipe[:gain_total] %> 
              </div>
            </td>
            <td>
              <div class="col_pos_new rounded d-flex align-items-center justify-content-center">
                <%= equipe[:solde] %> 
              </div>
            </td>

          </tr>
        <% end %> 
      </tbody>  
    </table>

  </body>

  <br><br>

</div>

<hr>

<div class="d-flex">
  <%= back_button_on_event(@event.id) %>

  <button class="fa fa-solid fa-image btn btn-primary m-1" data-controller="screenshot" 
          data-nom-doc="<%= @event.nom_doc("licences") %>" 
          data-action="click->screenshot#capture" class="btn btn-success">
  </button>
</div>
