<div id="<%= dom_id correction %>">
  <p>
    <strong>Base setup:</strong>
    <%= correction.base_setup_id %>
  </p>

  <p>
    <strong>Setup:</strong>
    <%= correction.setup_id %>
  </p>

  <p>
    <strong>Nom:</strong>
    <%= correction.nom %>
  </p>

  <p>
    <strong>Sens:</strong>
    <%= correction.sens %>
  </p>

  <p>
    <strong>Probleme:</strong>
    <%= correction.probleme_id %>
  </p>

  <p>
    <strong>Probleme second:</strong>
    <%= correction.probleme_second_id %>
  </p>

</div>
